{{/*
   As a monument to my sins, this whole thing gets populated via Javascript
   so we can automatically update it with the current year's schedule
*/}}
<div class="home-content-section-wrapper homepage-schedule">
  <div class="schedule-loading">
    <i aria-hidden="true" class="fa fa-spinner fa-pulse" title="Schedule loading"></i>
  </div>

  <div class="home-content-section-header">
    <h1><span id="current-year"></span> Race Schedule</h1>
  </div>

  <div class="homepage-schedule-wrapper">
    <div class="schedule-table">
      <div class="schedule-table-row table-header">
        <div class="schedule-table-cell round">
          {{/* This space left intentionally blank */}}
        </div>
        <div class="schedule-table-cell date">Date</div>
        <div class="schedule-table-cell location">Location</div>
        <div class="schedule-table-cell day-schedule">Schedule</div>
    
        <div class="schedule-table-cell joint-round">OMRRA</div>
      </div>
    </div>
  </div>
</div>