{{ $latestNews := ((where site.RegularPages.ByDate "Section" "news").Reverse | last 4) }}
<div class="home-content-section-wrapper">
  <div class="home-content-section-header">
    <h1>Latest News</h1>
  </div>

   <div class="latest-news-blocks-wrapper">
    {{ range $latestNews }}
      <a href="{{ .Permalink }}" class="latest-news-block">
        <div class="date">{{ .Date | dateFormat "Jan 02, 2006" }}</div>
        <div class="title">{{ .Title }}</div>
        <div class="description">{{ .Description }}</div>
        <div class="read-more">
          <span>Read more</span>
          <i aria-hidden="true" class="fas fa-angle-double-right"></i>
        </div>
      </a>
    {{ end }}
  </div> 

  <a href="/news" class="all-news-link">
    <span>All news</span>
    <i aria-hidden="true" class="fas fa-angle-double-right"></i>
  </a>
</div>