{{ $sponsorData := index .Site.Data.sponsors.sponsorData }}
{{ $titleSponsors := slice }}
{{ $titleSponsorCount := 0 }}
{{ $fuSponsors := slice }}
{{ $fuSponsorCount := 0 }}
{{ $f2Sponsors := slice }}
{{ $f2SponsorCount := 0 }}
{{ $sectionRowClass := "" }}

{{ with $sponsorData }}
  {{/* Separate title sponsors from the rest */}}
  {{ range . }}
    {{ if eq .title "Title Sponsors" }}
      {{ $titleSponsors = $titleSponsors | append .sponsors }}
      {{ $titleSponsorCount = (len .sponsors) }}
    {{ end }}
    {{ if eq .title "Formula Ultra Sponsors" }} 
      {{ $fuSponsors = $fuSponsors | append .sponsors }}
      {{ $fuSponsorCount = (len .sponsors) }}
    {{ end }}
    {{ if eq .title "Formula 600 Sponsors" }} 
      {{ $f2Sponsors = $f2Sponsors | append .sponsors }}
      {{ $f2SponsorCount = (len .sponsors) }}
    {{ end }}
  {{ end }}

  {{/* Pluralize sponsor text in case we ever get more than 1 */}}
  {{ $titleSponsorText := "Title Sponsor" }}
  {{ if gt $titleSponsorCount 1 }}
    {{ $titleSponsorText := "Title Sponsors"}}
  {{ end }}
  
  {{ $fuSponsorText := "Formula Ultra Sponsor" }}
  {{ if gt $fuSponsorCount 1 }}
    {{ $fuSponsorText := "Formula Ultra Sponsors" }}
  {{ end }}

  {{ $f2SponsorText := "Formula 600 Sponsor" }}
  {{ if gt $f2SponsorCount 1 }}
    {{ $f2SponsorText := "Formula 600 Sponsors" }}
  {{ end }}

  {{ if and (gt $fuSponsorCount 0) (gt $f2SponsorCount 0)  }}
    {{ $sectionRowClass = "two-row" }}
  {{ else }}
    {{ $sectionRowClass = "one-row" }}
  {{end}}

  <div class="home-content-section-wrapper supporters">
    <div class="home-content-section-header">
      <h1>Thank you to our sponsors!</h1>
    </div>
    <div class="supporter-splash">

    <!-- START TODO: remove this once we have title sponsors, Formula Ultra/600 Sponsors -->
    {{ $sponsors := slice }}
    {{ $sponsorCount := 0 }}
    {{/* Separate title sponsors from the rest */}}
    {{ range . }}
      {{ if eq .title "Race Class Sponsors" }}
        {{range .sponsors }}
          {{ if ne .name "Sponsorship Available" }}
          {{ $sponsors = $sponsors | append . }}
          {{end}}
          {{ $sponsorCount = (len $sponsors) }}
        {{ end }}
      {{ end }}
    {{end}}
      <div class="supporters-section title two-row">
        <div class="supporters-group">
          <div class="supporter-logos">
            {{ range first 2 $sponsors }}
              {{ partial "home-content-section/supporter-block" (dict "context" . "isTitleSponsor" true) }}
            {{ end }}
          </div>
        </div>
      </div>
    <!-- END TODO: remove this once we have title sponsors, Formula Ultra/600 Sponsors -->

    <!-- TODO: commented out as we don't have Title, FU, Form 600 sponsors -->
    <!--
      <div class="supporters-section title {{ $sectionRowClass }}">
        <div class="supporters-group">
          <div class="supporter-ribbon">
            <div class="ribbon-content">{{ $titleSponsorText }}</div>
          </div>
  
          <div class="supporter-logos">
            {{ range $titleSponsors }}
              {{ partial "home-content-section/supporter-block" (dict "context" . "isTitleSponsor" true) }}  
            {{ end }}
          </div>
        </div>
      </div>

      {{ with $fuSponsors }}
      <div class="supporters-section formula-ultra {{ $sectionRowClass }} ">
          <div class="supporters-group">
            <div class="supporter-ribbon">
              <div class="ribbon-content">{{ $fuSponsorText }}</div>
            </div>
    
            <div class="supporter-logos">
              {{ range $fuSponsors }}
                {{ partial "home-content-section/supporter-block" (dict "context" . "isTitleSponsor" true) }}  
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}

      {{ with $f2Sponsors }}
        <div class="supporters-section formula-600 {{ $sectionRowClass }}">
          <div class="supporters-group">
            <div class="supporter-ribbon">
              <div class="ribbon-content">{{ $f2SponsorText }}</div>
            </div>
    
            <div class="supporter-logos">
              {{ range $f2Sponsors }}
                {{ partial "home-content-section/supporter-block" (dict "context" . "isTitleSponsor" true) }}  
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
      -->

      <div class="all-supporters-link-wrapper">
        {{/*  <a href="/sponsor" class="all-supporters-link site-button">
          <span>View all sponsors</span>
          <i aria-hidden="true" class="fas fa-angle-double-right"></i>
        </a>  */}}
        <a href="/sponsor/become-a-sponsor" class="all-supporters-link site-button">
          <span>Become a Sponsor</span>
          <i aria-hidden="true" class="fas fa-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>
{{ end }}