{{ $sponsorData := index .Site.Data.sponsors }}
{{ $uniqueSponsors := slice }}


<div class="home-content-section-wrapper supporters">
  <div class="home-content-section-header">
    <h1>Thank you to our sponsors!</h1>
  </div>

  <div class="supporter-splash">
    {{ with $sponsorData }}
      <div class="title-supporters-wrapper">
        <div class="title-supporter-ribbon">
          <div class="ribbon-content">Title Sponsor</div>
        </div>
        {{ range .titleSponsor }}
          <div>
            {{ range .sponsors }}
              {{ $uniqueSponsors = $uniqueSponsors | append .name }}
              {{ partial "home-content-section/supporter-block" (dict "context" . "isTitleSponsor" true) }}  
            {{ end }}
          </div>
        {{ end }}
      </div>

      <div class="all-supporters-wrapper">
        {{ range $sponsorData.allSponsors }}
          {{ range where .sponsors ".name" "not in" $uniqueSponsors }}
            {{ $uniqueSponsors = $uniqueSponsors | append .name }}
            {{ partial "home-content-section/supporter-block" (dict "context" .) }}   
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>