{{/* partial args: */}}
{{/* context: the sponsor being rendered */}}
{{/* isTitleSponsor: whether or not the sponsor is a title sponsor */}}

{{ $url := "" }}
{{ $supporterClass := "" }}

{{ if .context.social.website }}
  {{ $url = .context.social.website }}
{{ else if .context.social.facebook }}
  {{ $url = .context.social.facebook }}
{{ else if .context.social.twitter }}
  {{ $url = .context.social.twitter}}
{{ else if .context.social.instagram }}
  {{ $url = .context.social.instagram}}
{{ end }}

{{ if .isTitleSponsor }}
  {{ $supporterClass = "supporter-block title-supporter" }}
{{ else }}
  {{ $supporterClass = "supporter-block" }}
{{ end }}

<div class="supporter-block-wrapper">
  {{ if $url }}
    <a class="{{ $supporterClass }}" href="{{ $url | absURL }}" target="_blank">
      {{ partial "home-content-section/supporter-block-image" (dict "context" .context) }}
    </a>
  {{ else }}
    <div class="{{ $supporterClass }}">
      {{ partial "home-content-section/supporter-block-image" (dict "context" .context) }}
    </div>
  {{ end }}
</div>  