{{ $logo := "images/WMRRA-logo.jpg" }}
<div class="we-are-wmrra-content-wrapper">
  <div class="we-are-wmrra-header">
    <span class="header-text">We are</span>
    <img class="logo" src="{{ $logo | absURL }}"/>
  </div>

  <div class="we-are-wmrra-content-blocks">
    <div class="content-block">
      <div class="content-block-image race"><div class="overlay-text">Race</div></div>
      <div class="content-block-text">
        Come and race with WMRRA. At WMRRA you will find a community of people that will help you achieve
        your goals and/or dreams of racing… leading to life long friendships. Come check us out and
        hopefully get involved with our great sport.
       
        We hope you choose to become part of our tight knit family of racers, we know you won’t be
        the same if you do.
      </div>
    </div>

  <div class="content-block">
    <div class="content-block-image volunteer">
      <div class="overlay-text">Volunteer</div>
    </div>
    <div class="content-block-text">
      Love watching motorcycle racing? Want to see what happens behind the
      scenes? Join us for the best seat in the house! Our races are held with over 50 track officials,
      the bulk of which, are the vitally important “Volunteer Corner Worker.”

      As a club WMRRA aspires to provide the best possible environment for people to enjoy the
      thrill of racing on a closed road circuit, and we can't do it without your help.
    </div>
  </div>

  <div class="content-block">
    <div class="content-block-image support">
      <div class="overlay-text">Support</div>
    </div>
    <div class="content-block-text">
      There are many ways you can support WMRRA. Come Spectate, Volunteer, Donate, or become a
      Sponsor. Click to read more.
    </div>
  </div>
</div>