{{ $logo := "images/WMRRA-logo.jpg" }}
<div class="home-content-section-wrapper we-are-wmrra">
  <div class="home-content-section-header">
    <h1>We are</h1>
    <img class="logo" alt="WMRRA - Washington Motorcycle Road Racing Association" src="{{ $logo | absURL }}"/>
  </div>

  <div class="we-are-wmrra-blocks-wrapper">
    <div class="we-are-wmrra-block race">
      <a href="/race/new-racer-information" class="block-image race">
        <div class="overlay-text">Race</div>
      </a>
      <div class="block-text">
        At WMRRA you will find a community of people passionate about racing.
        Come check us out and get involved with our great sport.
      </div>
    </div>

    <div class="we-are-wmrra-block volunteer">
      <a href="/volunteer" class="block-image volunteer">
        <div class="overlay-text">Volunteer</div>
      </a>
      <div class="block-text">
        Love watching motorcycle racing? Want to see what happens behind the
        scenes? Join us for the best seat in the house as a volunteer!
      </div>
    </div>

    <div class="we-are-wmrra-block support">
      <a href="/sponsor" class="block-image support">
        <div class="overlay-text">Support</div>
      </a>
      <div class="block-text">
        There are many ways you can support WMRRA. Come Spectate, Volunteer,
        Donate, or become a Sponsor. Click to read more.
      </div>
    </div>
  </div>
</div>