{{ $logo := "images/WMRRA-logo.jpg" }}
<div class="home-content-section-wrapper">
  <div class="home-content-section-header">
    <h1>We are</h1>
    <img class="logo" alt="WMRRA - Washington Motorcycle Road Racing Association" src="{{ $logo | absURL }}"/>
  </div>

  <div class="home-content-section-blocks">
    <div class="we-are-wmrra-block race">
      <a href="/race/new-racer-information" class="block-image race">
        <div class="overlay-text">Race</div>
      </a>
      <div class="block-text">
        Come and race with WMRRA. At WMRRA you will find a community of people that will help you achieve
        your goals and/or dreams of racing… leading to life long friendships. Come check us out and
        hopefully get involved with our great sport.
       
        We hope you choose to become part of our tight knit family of racers, we know you won’t be
        the same if you do.
      </div>
    </div>

    <div class="we-are-wmrra-block volunteer">
      <a href="/volunteer" class="block-image volunteer">
        <div class="overlay-text">Volunteer</div>
      </a>
      <div class="block-text">
        Love watching motorcycle racing? Want to see what happens behind the
        scenes? Join us for the best seat in the house! Our races are held with over 50 track officials,
        the bulk of which, are the vitally important “Volunteer Corner Worker.”

        As a club WMRRA aspires to provide the best possible environment for people to enjoy the
        thrill of racing on a closed road circuit, and we can't do it without your help.
      </div>
    </div>

    <div class="we-are-wmrra-block support">
      <a href="/sponsor" class="block-image support">
        <div class="overlay-text">Support</div>
      </a>
      <div class="block-text">
        There are many ways you can support WMRRA. Come Spectate, Volunteer, Donate, or become a
        Sponsor. Click to read more.
      </div>
    </div>
  </div>
</div>