.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $wmmra-dark-red;
  color: $white;
  font-size: 1.2rem;

  .copyright {
    flex: 1;
  }

  @include media-min($medium-screen-breakpoint) {
    flex-direction: row;
  }
}

.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  width: 100%;
  max-width: 15rem;
  margin-bottom: 2rem;
  font-size: 3rem;

  @include media-min($medium-screen-breakpoint) {
    margin-bottom: 0;
  }

  a {
    @include link-overrides($white);

    &:hover {
      transform: scale(1.1);
    }
  }
}