$mobile-breakpoint: 768px;
$wmmra-dark-red: #b1041d; // TODO: make a vars file

.header {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  padding: 0 1.5rem;
  height: 6.5rem;
  font-size: 2rem;
  box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0, 0, 0, 0.3);
}

.header-logo {
  width: 15rem;
}

.header-menu-mobile-overlay {
  position: fixed;
  top: 6.5rem;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;

  .hidden {
    display: none;
  }
}

.header-menu-mobile {
  // will display <= mobile-breakpoint
  display: none;
  position: relative;

  i {
    cursor: pointer;
  }

  .menu-close-icon {
    display: none;
  }
}

.header-menu-mobile-content {
  display: none;
  position: absolute;
  top: 5rem;
  z-index: 100;

  &.main {
    background-color: $wmmra-dark-red;
    color: #fff;
  }

  &.submenu {
    color: #ccc;

    a {
      color: #ccc;
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items:  center;
}

.header-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  width: 9.5rem;
  cursor: pointer;

  &:hover {
    .header-menu-item-label {
      margin-bottom: -0.4rem;
      padding-bottom: 0.2rem;
      border-bottom: 0.2rem solid $wmmra-dark-red;
    }
  }
}

.header-menu-item-label {
  position: relative;

  a,
  a:visited, 
  a:hover, 
  a:active, 
  a:focus {
    color: #333;
    text-decoration: none;
  }
}

.header-menu-item-submenu {
  display: none;
  position: absolute;
  left: -0.5rem;
  top: 4.7rem;
  z-index: 100;
  width: 30rem;
  padding: 1.5rem;
  background-color: $wmmra-dark-red;
  color: #fff;
  box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0, 0, 0, 0.3);

  .submenu-item-wrapper {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:visited {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        color: #ccc;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .header-menu-mobile {
    display: flex;
    justify-content: flex-end;
  }

  .header-menu {
    display: none;
  }
}


