@import "partials/mixins"; 

.header {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  padding: 0 1.5rem;
  height: 6.5rem;
  font-size: 2rem;
  box-shadow: $default-box-shadow;
}

.header-logo {
  width: 15rem;
}

.header-menu-mobile-overlay {
  @include full-container-overlay;
  top: 6.5rem;
  left: 0;

  @include media-min($mobile-breakpoint) {
    display: none;
  }
}

.header-menu-mobile {
  // will display <= mobile-breakpoint
  display: none;
  position: relative;

  i {
    cursor: pointer;
    font-size: 3rem;
  }

  .menu-close-icon {
    display: none;
  }
}

.header-menu-mobile-content {
  position: absolute;
  top: 4.7rem;
  right: -1.5rem;
  z-index: 100;
  width: 32rem;
  padding: 0 2rem;
  font-size: 2.4rem;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  &.main {
    height: 35rem;
    background-color: $wmmra-dark-red;
    color: $white;

    .mobile-menu-links-wrapper {
        height: 100%;
        justify-content: space-around;
    }
  }

  &.submenu {
    height: min-content; 
    max-height: 50rem;   
    background-color: $extra-light-gray;
    overflow-y: scroll;

    .go_back {
      position: sticky;
      top: 0;
      margin: 0 -2rem;
      padding: 1rem;
      border-bottom: 0.1rem solid $wmrra-light-gray;
      background-color: $extra-light-gray;

      &::before {
        @include pseudo-icon("\f100");
        display: inline-block;
        margin-right: 1rem;
      }
    }

    a {
      @include link-overrides($default-text-color);
    }
  }
  
  .mobile-menu-links-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    
    a {
      margin: 1rem;
    }
  }

  .mobile-menu-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }

    &.main {
      &::after {
        @include pseudo-icon("\f101");
        margin-left: 1rem;
      }
    }
  }

  @include media-min($small-screen-breakpoint) {
    width: 35rem;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items:  center;
}

.header-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  width: 9.5rem;
  cursor: pointer;

  &:hover {
    .header-menu-item-label {
      margin-bottom: -0.4rem;
      padding-bottom: 0.2rem;
      border-bottom: 0.2rem solid $wmmra-dark-red;
    }
  }
}

.header-menu-item-label {
  position: relative;

  a {
    @include link-overrides($default-text-color);
  }
}

.header-menu-item-submenu {
  display: none;
  position: absolute;
  left: -0.5rem;
  top: 4.7rem;
  z-index: 100;
  width: 30rem;
  padding: 1.5rem;
  background-color: $wmmra-dark-red;
  color: $white;
  box-shadow: $default-box-shadow;

  .submenu-item-wrapper {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $white;
      text-decoration: none;

      &:visited {
        color: $white;
        text-decoration: none;
      }

      &:hover {
        color: $wmrra-light-gray;
        text-decoration: none;
      }
    }
  }
}

.header-cta-button {
  @include link-overrides($white);

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: $wmmra-dark-red;
  color: $white;
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

@include media-max($mobile-breakpoint) {
  .header-menu-mobile {
    display: flex;
    justify-content: flex-end;
  }

  .header-menu {
    display: none;
  }
}
