.hero {
  height: 40rem;

  &::after {
    content: "";
    position: absolute;
    top: 6.5rem;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
    height: 40rem;
    background-size: cover;
    opacity: 0.5;

    @include media-min($xxlarge-screen-breakpoint) {
      height: 60rem;
    }
  }

  @include media-min($xxlarge-screen-breakpoint) {
    height: 60rem;
  }
}

.hero-content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.hero-announcement-box {
  width: 100%;
  padding: 1.5rem;
  background-color:rgba($wmmra-dark-red, 0.8);
  color: $white;

  @include media-min($medium-screen-breakpoint) {
    width: 50%;
  }
}

.hero-announcement-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.hero-announcement-text {
  margin-bottom: 2rem;
}

.hero-announcement-button {
  padding: 1rem;
  border: 0.2rem solid $white;
  color: $white;
  font-size: 2rem;
  box-shadow: $default-box-shadow;

  &:hover {
    margin-top: -0.2rem;
    border-width: 0.3rem;
    color: $white;
    text-decoration: none;
    font-weight: bold;
  }
}