.hero {
  height: 40rem;

  &::after {
    content: "";
    position: absolute;
    top: 6.5rem;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
    height: 40rem;
    background-size: cover;
    opacity: 0;
    animation: customFade 3.5s ease forwards;

    @keyframes customFade {
      0% { 
        opacity: 0; 
      }

      100% { 
        opacity: 0.5; 
      }
    }

    @include media-min($xxlarge-screen-breakpoint) {
      height: 60rem;
    }

    @include media-min($xxxlarge-screen-breakpoint) {
      height: 70rem;
    }
  }

  @include media-min($xxlarge-screen-breakpoint) {
    height: 60rem;
  }

  @include media-min($xxxlarge-screen-breakpoint) {
    height: 70rem;
  }

  // some images need to be bumped up a bit
  // so they fit better in the header
  &.shift-align {
    &::after {
      background-position-y: 20%;
    }
  }
}

.hero-content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.hero-announcement-box {
  width: 100%;
  padding: 1.5rem;
  background-color:rgba($wmmra-dark-red, 0.8);
  color: $white;

  @include media-min($mobile-breakpoint) {
    width: 50%;
  }
}

.hero-announcement-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.hero-announcement-text {
  @include flex-column-centered;
  margin: 0 auto 2rem;

  h1,
  h2 {
    line-height: 4rem;
  }
}

.hero-announcement-button {
  @include link-overrides($white);

  display: inline-block;
  padding: 1rem;
  border: 0.2rem solid $white;
  color: $white;
  font-size: 2rem;
  box-shadow: $default-box-shadow;

  &:hover {
    transform: scale(1.1);
  }
}