// gOoGlE wAnTs Me To DeFiNe ThEsE mYsElF
// https://google.github.io/material-design-icons/#sizing
.material-icons {
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
}