.page-content {
  h1,
  h2 {
    margin: 0 0 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    margin: 0 0 1rem;
    font-size: 4rem;
  }

  p {
    margin: 0;

    + p {
      margin-top: 1rem;
    }
  }

  .page-section {
    padding: 3rem 0;

    &:not(:last-child) {
      border-bottom: 0.3rem solid $wmmra-dark-red;
    }
  }

  .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 38rem;
    overflow: hidden;
  
    img {
      max-width: 100rem;
    }
  }
}
