// global vars live out here (partials caused problems)
// reds
$wmmra-dark-red: #b1041d;
$wmrra-dark-red-10: #9f041a; // 10% darker than base
$wmrra-dark-red-30: #7c0314; // 30% darker than base

// basic colors
$white: #fff;
$default-text-color: #333;
$light-default-text-color: #6a6a6a;
$default-link-color: #337ab7;

// grays
$dark-gray: #433f3f;
$medium-gray: #817f82;
$wmrra-light-gray: #dedadb;
$wmrra-light-gray-180: #fcfbfb; // 80% lighter than base
$alternate-row-gray: #f2f2f3;

// sponsor colors
$sponsor-gold: #f9Af10;
$sponsor-silver: #ada296;
$sponsor-silver-20: #8a8278;
$sponsor-bronze: #cd7f32;
$sponsor-blue: #749fbe;

// shadow
$text-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.5);
$default-box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0, 0, 0, 0.3);

// approx px as em values - https://stackoverflow.com/a/43131958
$small-screen-breakpoint: 23em; // 360px
$medium-screen-breakpoint: 30em; // 480px
$mobile-breakpoint: 48em; // 768px
$large-screen-breakpoint: 64em; // 1024px
$xlarge-screen-breakpoint: 81em; // 1300px
$xxlarge-screen-breakpoint: 100em; // 1600px
$xxxlarge-screen-breakpoint: 120em; // big

@import "partials/mixins";
@import "partials/media";

@import "partials/homepage";
@import "partials/schedule-table";
@import "partials/racer-table";
@import "partials/racers";
@import "partials/volunteers";
@import "partials/current-schedule";
@import "partials/spectate";
@import "partials/pricing";
@import "partials/board-minutes";
@import "partials/season-standings";
@import "partials/sponsors";
@import "partials/embedded-forms";
@import "partials/become-a-sponsor";
@import "partials/rulebook";
@import "partials/race-registration";

// TODO: move to partials eventually
// contacts
.contact-table {
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2rem;
  }
}

// TODO: yet another partial
.new-racer-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-racer-nrs-callout {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid $wmmra-dark-red;
  border-radius: 4px;
  background: rgba($wmmra-dark-red, 0.1);
  font-size: 2rem;
  text-align: center;
}

.new-racer-form-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#new-racer-form-iframe {
  visibility: hidden;
}

.news-hero-image {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}