// global vars live out here (partials caused problems)
// reds
$wmmra-dark-red: #b1041d;
$wmrra-dark-red-10: #9f041a; // 10% darker than base
$wmrra-dark-red-30: #7c0314; // 30% darker than base

// basic colors
$white: #fff;
$default-text-color: #333;
$light-default-text-color: #6a6a6a;
$default-link-color: #337ab7;

// grays
$dark-gray: #433f3f;
$medium-gray: #817f82;
$wmrra-light-gray: #dedadb;
$wmrra-light-gray-180: #fcfbfb; // 80% lighter than base
$alternate-row-gray: #f2f2f3;

// sponsor colors
$sponsor-gold: #f9Af10;
$sponsor-silver: #ada296;
$sponsor-silver-20: #8a8278;
$sponsor-bronze: #cd7f32;
$sponsor-blue: #749fbe;

// shadow
$text-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.5);
$default-box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0, 0, 0, 0.3);

// approx px as em values - https://stackoverflow.com/a/43131958
$small-screen-breakpoint: 23em; // 360px
$medium-screen-breakpoint: 30em; // 480px
$mobile-breakpoint: 48em; // 768px
$large-screen-breakpoint: 64em; // 1024px
$xlarge-screen-breakpoint: 81em; // 1300px
$xxlarge-screen-breakpoint: 100em; // 1600px
$xxxlarge-screen-breakpoint: 120em; // big

@import "partials/mixins";
@import "partials/media";

@import "partials/homepage";
@import "partials/schedule-table";
@import "partials/racer-table";
@import "partials/racers";

// TODO: move to partials eventually
// contacts
.contact-table {
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2rem;
  }
}

// sponsors
.supporters-page-welcome {
  font-size: 2.4rem;
  text-align: center;
  white-space: pre-line;
}

.supporters-page-cta {
  @include flex-column-centered;

  position: relative;
  margin: 4rem 0;
  padding: 2rem;
  background-color: $dark-gray;
  color: $white;
  box-shadow: $default-box-shadow;

  @include media-min($mobile-breakpoint) {
    &::before,
    &::after {
      @include pseudo-icon("\f11e");
      position: absolute;
      font-size: 8rem;
    }
  
    &::before {
      left: 6rem;
      transform: scale(-1, 1); // flip horizontal
    }
  
    &::after {
      right: 6rem;
    }
  }

  .cta-text {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
  }

  .site-button {
    width: 100%;
    max-width: 42rem;
    font-size: 2rem;
  }
}

.supporters-page-supporters-wrapper {
  @include media-min($mobile-breakpoint) {
    display: grid;
  }
}

.supporters-page-supporters-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;

  @include media-min($mobile-breakpoint) {
    grid-column: span 4;
  }

  &.title,
  &.formula-ultra {
    @include media-min($mobile-breakpoint) {
      grid-column: span 2;
    }
  }
}

.supporters-page-block {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  margin: 1.5rem 4rem;
  padding: 2rem;
  background-color: $wmrra-light-gray;

  &.title,
  &.formula-ultra {
    grid-template-rows: 24.5rem 11rem 15rem 4.5rem;
    grid-gap: 1.5rem;
    width: 28rem;
    padding-top: 6rem;

    @include media-min($small-screen-breakpoint) {
      width: 30rem;
    }

    .supporter-image-wrapper {      
      width: 24.5rem;
      height: 24.5rem;
      margin-top: 0.5rem;

      img {
        max-width: 24rem;
        max-height: 24rem;
      }
    }

    .supporter-name {
      font-size: 3.2rem;
    }
  }

  &.formula-2 {
    grid-template-rows: 21.5rem 10rem 14rem 4.5rem;
    grid-gap: 1.5rem;
    width: 28rem;
    padding-top: 6.5rem;

    .supporter-image-wrapper {
      width: 21.5rem;
      height: 21.5rem;

      img {
        max-width: 21rem;
        max-height: 21rem;
      }
    }

    .supporter-name {
      font-size: 2.4rem;
    }
  }

  &.race-event,
  &.race-class {
    grid-template-rows: 5.5rem 18.5rem 4.5rem 3.6rem;
    grid-gap: 1rem;
    width: 24rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    .supporter-title {
      font-size: 2rem;
    }

    .supporter-image-wrapper {
      width: 18.5rem;
      height: 18.5rem;

      img {
        max-width: 18rem;
        max-height: 18rem;
      }
    }

    .supporter-name {
      font-size: 1.8rem;
    }
  }

  &.race-class {
    margin-bottom: 3rem;
  }

  .supporter-ribbon {
    @include ribbon(2rem, 1.5rem, -2rem);

    position: absolute;
    top: 1rem;

    &.big {
      width: 30rem;

      @include media-min($small-screen-breakpoint) {
        width: 32rem;
      }
    }

    &.little {
      width: 30rem;
    }

    @include media-max($small-screen-breakpoint) {
      &::before,
      &::after {
        display: none
      }
    }
  }

  .supporter-image-wrapper {
    @include flex-column-centered;

    background-color: $wmrra-light-gray-180;
  }

  .supporter-title,
  .supporter-name,
  .supporter-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .supporter-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .site-button {
      width: 100%;
    }
  }

  .supporter-link {
    @include link-overrides($wmmra-dark-red);

    margin-right: 1.5rem;
    font-size: 3rem;
    
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      i {
        transform: scale(1.1);
      }
    }
  }
}

// TODO: yet another partial
.new-racer-header {
  @include header-text;
  margin: 4rem 0 3rem;

  .logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 6rem;
    margin-top: -1rem;

    @include media-min($small-screen-breakpoint) {
      max-height: 7rem;
      margin-left: 0.5rem;
    }
  }
    
  h1 {
    margin: 0;
    font-size: 4rem;
    text-transform: uppercase;

    @include media-min($small-screen-breakpoint) {
      font-size: 5rem;
    }

    @include media-max($mobile-breakpoint) {
      margin-bottom: 1rem;
    }
  }
}

// TODO: another partial
.become-a-supporter-header {
  margin-bottom: 2rem;
  text-align: center;
}

.become-a-supporter-blocks-wrapper {
  margin: 7rem auto 0;

  @include media-max($large-screen-breakpoint) {
    max-width: 75rem;
  }
}

.become-a-supporter-blocks-row {
  display: grid;
  justify-items: center;
  grid-column-gap: 3rem;
  grid-row-gap: 6rem;
  margin-bottom: 6rem;

  @include media-min($large-screen-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.become-a-supporter-level-block {
  position: relative;
  width: 100%;
  padding: 3rem 1rem 2rem;
  border-width: 0.8rem;
  border-style: solid;
  border-radius: 1rem;

  .supporter-level-content {
    .supporter-level {
      font-size: 3rem;
    }
    
    .cost {
      font-size: 2.6rem;
    }
  }

  &.level-10000 {
    border-color: $sponsor-gold;

    &::before {
      @include sponsor-level-badge("\f091", $sponsor-gold);
      top: -4.5rem;
    }

    .supporter-level-content {
      .inquiry-button {
        background-color: $sponsor-gold;

        &:hover {
          filter: brightness(120%);
        }
      }
    }
  }

  &.level-5000,
  &.level-1000,
  &.level-750 {
    border-color: $sponsor-silver;

    &::before {
      @include sponsor-level-badge("\f5a2", $sponsor-silver);
      top: -4.5rem;
    }

    .supporter-level-content {
      .inquiry-button {
        background-color: $sponsor-silver;

        &:hover {
          background-color: $sponsor-silver-20;
        }
      }
    }
  }

  &.level-500 {
    border-color: $sponsor-bronze;

    &::before {
      @include sponsor-level-badge("\f559", $sponsor-bronze);
      top: -4.5rem;
    }
    .supporter-level-content {
      .inquiry-button {
        background-color: $sponsor-bronze;

        &:hover {
          filter: brightness(120%);
        }
      }
    }
  }

  .supporter-level-content {
    display: grid;
    grid-template-rows: minmax(8rem, max-content) minmax(23rem, max-content) 1fr;
    grid-gap: 1.2rem;
    justify-items: center;
    align-items: center;
    height: 100%;

    .level-and-cost {
      @include flex-column-centered;
      text-align: center;
    }

    .benefits {
      padding: 0 1rem;

      ul {
        margin-bottom: 0;
        padding-inline-start: 3rem;

        li {
          margin-bottom: 1.5rem;
        }
      }
    }
    
    .see-all-benefits-link {
      @include link-overrides($default-link-color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;

      &:hover {
        filter: brightness(60%);
      }

      &::after {
        @include pseudo-icon("\f105");
        margin-left: 1rem;
      }
    }
  
    .inquiry-button {
      @include link-overrides($white);

      align-self: end;
      width: 22rem;
      padding: 1rem;
      border-radius: 1rem;
      color: $white;
      font-size: 2rem;
      text-align: center;
      cursor: pointer;
    }
  }
}

.supporter-level-benefits-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  padding: 2rem;
  width: 80%;
  max-width: 50rem;
  border-radius: 0.5rem;
  background-color: $white;

  .modal-close-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: -1rem;
    font-size: 2.4rem;
    color: $medium-gray;
    cursor: pointer;
  }

  .benefits-modal-content {
    @include flex-column-centered;
    padding-top: 5.5rem;

    &.level-10000 {  
      &::before {
        @include sponsor-level-badge("\f091", $sponsor-gold);
        top: 2rem;
      }
    }

    &.level-5000,
    &.level-1000 {  
      &::before {
        @include sponsor-level-badge("\f5a2", $sponsor-silver);
        top: 2rem;
      }
    }

    &.level-500 {  
      &::before {
        @include sponsor-level-badge("\f559", $sponsor-bronze);
        top: 2rem;
      }
    }

    &.hidden {
      display: none;
    }

    .level {
      margin: 1rem 0;
      font-size: 2.4rem;
      text-align: center;
    }

    ul {
      max-height: 38rem;
      margin-bottom: 0;
      padding-inline-start: 3rem;
      overflow-y: auto;

      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}
