$wmmra-dark-red: #b1041d;

@mixin bouncy-animation {
  animation: easeOutBounce 1s ease-in forwards;

  @keyframes easeOutBounce {
    0% {
      transform: translateX(0%);
    }
  
    12% {
      transform: translateX(11%);
    }
  
    24% {
      transform: translateX(44%);
    }
  
    36% {
      transform: translateX(98%);
    }
  
    54% {
      transform: translateX(120%);
    }
  
    74% {
      transform: translateX(98%);
    }
  
    82% {
      transform: translateX(93%);
    }
  
    92% {
      transform: translateX(105%);
    }
  
    96% {
      transform: translateX(98%);
    }
  
    100% {
      transform: translateX(100%);
    }
  
  }
}

// TODO: split this into partials
// homepage
.hero {
  &::after {
    background-image: url("../images/finger_guns.jpeg");
  }
}

// all hero announcement content will start hidden
// hero.js will decide what to display
// and these fancy styles will make it slide/fade in
.hero-announcement-content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0;

  &.the-chosen-one {
    transform: translateX(200%);
    animation: fadeIn 1.2s ease-in forwards, slideIn 1s ease-out forwards;

    @keyframes slideIn {
      100% {
        transform: translateX(0);
      }
    }

    @keyframes fadeIn {
      100% {
        opacity: 1;
      }
    }
  }
}

.home-content-section {
  display: flex;
  justify-content: center;
  padding: 6rem 2rem;

  &:nth-child(even) {
    background-color: $wmmra-dark-red; // dark red
    color: #fff;
  }
}

.home-content-section-wrapper {
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-gap: 8rem;
  justify-items: center;
  width: 100%;

  &.supporters {
    grid-gap: 4rem;
  }
}

.home-content-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .logo {
    height: 10rem;
    margin-top: -1rem;
  }
    
  h1 {
    font-size: 7rem;
    text-transform: uppercase;
  }
}

.home-content-section-blocks {
  // need to explicitly cancel out columns and shift to rows for responsivity
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  width: 100%;
}

.we-are-wmrra-block {
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-gap: 3rem;
    justify-items: center;

  .block-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 30rem;
    background-size: auto 30rem;
    background-position: center;
    transition: background-size 3s;
    cursor: pointer;

    &.race {
      background-image: url("../images/Race-with-WMRRA.jpg");
    }

    &.volunteer {
      background-image: url("../images/Volunteers.jpg");
    }

    &.support {
      background-image: url("../images/Taste-of-Racing.jpg");
    }

    .overlay-text {
      z-index: 2;
      color: #fff;
      text-transform: uppercase;
      font-size: 4.5rem;
      font-weight: bold;
      letter-spacing: 0.4rem;
      text-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.5);
    }


    &::after {
      content: "";
      position: absolute;
      height: 30rem;
      width: 30rem;
      background-color: rgba(129, 127, 130, 0.6);
      transition: background-color 1s linear;
    }

    &:hover,
    &:visited {
      .overlay-text  {
        color: #fff;
      }
      text-decoration: none;
    }

    &:hover {  
      background-size: auto 40rem;

      &::after {
        background-color: rgba(129, 127, 130, 0.2);
      }
    }
  }

  .block-text {
    width: 30rem;
    text-align: center;
    font-size: 1.65rem;
    line-height: 3rem;
  }
  
}

.latest-news-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #fff;
  color: #333;
  text-align: center;

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .date, 
  .description {
    font-size: 1.75rem;
  }

  .description {
    display: flex;
    align-items: center;
    height: 7.5rem;
  }

  .read-more {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.75rem;
  }

  &:hover, &:visited {
    color: #333;
    text-decoration: none;
  }

  &:hover {
    .read-more {
      color: $wmmra-dark-red;
      i {
       @include bouncy-animation();
      }
    }
  }
}

.all-news-link {
  display: flex;
  align-items: center;
  font-size: 2.75rem;
  color: #fff;
  text-transform: uppercase;

  i {
    margin-top: -0.3rem;
    margin-left: 0.5rem;
  }

  &:hover, &:visited {
    color: #fff;
    text-decoration: none;
    i {
      @include bouncy-animation();
     }
  }
}

.supporter-splash {
  display: grid;

  .supporter-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    margin: 2rem;

    .supporter-placeholder {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 2rem;

      &::after {
        content: "two_wheeler";
        position: absolute;
        font-family: 'Material Icons';
        font-size: 18rem;
        color: $wmmra-dark-red;
        opacity: 20%;
        -webkit-font-feature-settings: 'liga' 1;
        -moz-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1;
      }
    }

    &:hover {
      
      .supporter-placeholder {
        font-size: 2.1rem;
      }


      img {
        max-width: 16rem;
        max-height: 16rem;
      }

      &.title-supporter {
        img {
          max-width: 26rem;
          max-height: 26rem;
        }
      }
    }

    img {
      max-width: 15rem;
      max-height: 15rem;
    }

    &.title-supporter {
      width: 25rem;
      height: 25rem;
  
      img {
        max-width: 25rem;
        max-height: 25rem;
      }
    }
  }
}

.title-supporters-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid $wmmra-dark-red;

  h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.all-supporters-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
}

// contacts
.contact-table {
  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2rem;
  }
}
