
<!--
- name: top-level name
  link:
  children: 
    - name: link-1
      link: 
    - name: link-2
      link:
-->
{{ range $.Site.Data.menu.menu }}

<div class="header-menu-item">
  <div class="header-menu-item-label">
    {{ .name }}
    <div class="header-menu-item-submenu">
      {{ range .children }}
        <div class="submenu-item-wrapper">
          <a href="{{.link}}">{{ .name }}</a>
        </div>
      {{ end }}
    </div>  
  </div>
</div>

{{ end }}

{{ with $.Site.Data.menu.ctaButton }}
  <a href="{{ .link }}" class="header-cta-button">{{ .text }}</a>
{{ end }}

