<div class="header-menu-mobile-overlay hidden"></div>
<div class="header-menu-mobile">
  <i aria-hidden="true" class="menu-icon fas fa-bars" title="Open main menu"></i>
  <i aria-hidden="true" class="menu-close-icon fas fa-times" title="Close menu"></i>
    <div class="header-menu-mobile-content main hidden">
      {{ range $.Site.Data.menu.menu }}
        <div class="mobile-menu-link main">
          {{.name}}
        </div>
      {{ end }}
    </div>

    {{ range $.Site.Data.menu.menu }}
      {{ partial "header-menu/header-menu-mobile-submenu" . }}
    {{ end }}
</div>