{{/*}}
  {{ partial args: }}
  {{ context: the sponsor being rendered }}
  {{ sponsorLevel: e.g. "Title Sponsor", "Race Class Sponsor", etc }}
  {{ isVipSponsor: did they give us big money? }}
{{*/}}

{{ $socialStyle := dict "website" "fas fa-laptop" "facebook" "fab fa-facebook" "twitter" "fab fa-twitter" }}
{{ $sponsorClass := (lower (delimit (split (replaceRE " Sponsor" "" .sponsorLevel) " ") "-")) }}
{{ $available := (in .context.name "Sponsorship Available") }}

<div class="supporters-page-block {{ $sponsorClass }}">
  {{ if or (eq .sponsorLevel "Title Sponsor") (eq .sponsorLevel "Formula Ultra Sponsor") }}
    <div class="supporter-ribbon big">
      <div class="ribbon-content">{{ .sponsorLevel }}</div>
    </div>
  {{ else if eq .sponsorLevel "Formula 2 Sponsor" }}
    <div class="supporter-ribbon little">{{ .sponsorLevel }}</div>
  {{ else }}
    <div class="supporter-title">{{ .context.description }}</div>
  {{ end }}


    {{ if .context.image }}
      <div class="supporter-image-wrapper">
        <img src="{{ .context.image | absURL }}"  alt="{{ .context.name }}" />
      </div>
    {{ end }}

    <div class="supporter-name">
      {{ if $available }}
        <span>Sponsorship Available</span>
      {{ else }}
        {{ .context.name }}
      {{ end }}
    </div>

    {{ if .isVipSponsor }}
      <div class="supporter-description">{{ .context.description }}</div>
    {{ end }}

    <div class="supporter-links-wrapper">
      {{ if $available }}
        <a href="/sponsor/become-a-sponsor" class="site-button">Become a sponsor</a>
      {{ else }}
        {{ $context := .context }}
        {{ range $key, $value := .context.social }}
          <a aria-label="{{ $key }}" href="{{ $value }}" class="supporter-link" target="_blank">
            <i aria-hidden="true" class="{{ index $socialStyle $key }}" title="Visit the {{ $context.name }} {{ $key }}"></i>
          </a>
        {{ end }}
      {{ end }}
    </div>
</div>
