{{/*}}
  {{ partial args: }}
  {{ context: the sponsor being rendered }}
  {{ sponsorType: VIP | Race Day | Club }}
{{*/}}

{{ $socialStyle := dict "website" "fas fa-laptop" "facebook" "fab fa-facebook" "twitter" "fab fa-x-twitter" "instagram" "fab fa-instagram" }}
{{ $sponsorClass := (lower (delimit (split .sponsorType " ") "-")) }}
{{ $blockClass := (print "supporters-page-block " $sponsorClass) }}


<div class="{{ $blockClass }}">
  {{ if eq .sponsorType "VIP" }}
    <div class="supporter-ribbon big">
      <div class="ribbon-content">{{ .context.description }}</div>
    </div>
  {{ else if .context.description }}
    <div class="supporter-designation">{{ .context.description }}</div>
  {{ end }}

  <div class="supporter-image-wrapper">
    {{ if .context.image }}
      <img src="{{ .context.image | absURL }}"  alt="{{ .context.name }}" />
    {{ else }}
      <div class="supporter-placeholder-image">
        <i aria-hidden="true" class="fas fa-trophy supporter-placeholder-icon"></i>
        <span class="supporter-name">{{ .context.name }}</span>
      </div>
    {{ end }}
  </div>

  {{ if .context.social }}
    <div class="supporter-links-wrapper">
      {{ $name := .context.name }}
      {{ range $key, $value := .context.social }}
        <a aria-label="{{ $key }}" href="{{ $value }}" class="supporter-link" target="_blank" rel="noreferrer">
          <i aria-hidden="true" class="{{ index $socialStyle $key }}" title="Visit the {{ $name }} {{ $key }}"></i>
        </a>
      {{ end }}
    </div>
  {{ end }}
</div>
