{{/*}}
  {{ partial args: }}
  {{ context: the sponsor being rendered }}
  {{ sponsorType: VIP | Race Day | Club }}
{{*/}}

{{ $socialStyle := dict "website" "fas fa-laptop" "facebook" "fab fa-facebook" "instagram" "fab fa-instagram" "youtube" "fab fa-youtube"}}
{{ $sponsorClass := (lower (delimit (split .sponsorType " ") "-")) }}
{{ $blockClass := (print "supporters-page-block " $sponsorClass) }}


<div class="{{ $blockClass }}">
  {{ if eq .sponsorType "VIP" }}
    <div class="supporter-ribbon big">
      <div class="ribbon-content">{{ .context.description }}</div>
    </div>
  {{ else if .context.description }}
    <div class="supporter-designation">{{ .context.description }}</div>
  {{ end }}

  {{ partial "shared/sponsor-image" (dict "image" .context.image "name" .context.name "sponsorType" .sponsorType) }}

  {{ if .context.social }}
    <div class="supporter-links-wrapper">
      {{ $name := .context.name }}
      {{ range $key, $value := .context.social }}
        <a aria-label="{{ $key }}" href="{{ $value }}" class="supporter-link" target="_blank" rel="noreferrer">
          <i aria-hidden="true" class="{{ index $socialStyle $key }}" title="Visit the {{ $name }} {{ $key }}"></i>
        </a>
      {{ end }}
    </div>
  {{ end }}
</div>
