{{ define "main" }}
  {{ $paginator := .Paginator }}
  {{ $pageCount := $paginator.PagerSize }}
  {{ $prevUrl := "" }}
  {{ $nextUrl := "" }}

  {{ if $paginator.HasPrev }}
    {{ $prevUrl = $paginator.Prev.URL }}
  {{ end }}

  {{ if $paginator.HasNext }}
    {{ $nextUrl = $paginator.Next.URL }}
  {{ end }}

  <div class="content-wrapper">
    <h1 class="big-red-header">{{ .Title }}</h1>

    <div class="news-list-wrapper">
      {{ range $paginator.Pages }}
        {{ partial "news-post-summary" . }}
      {{ end }}
    </div>

    {{ if gt $paginator.TotalPages 1 }}
      {{ partial "pagination/pagination" (dict "prevUrl" $prevUrl "nextUrl" $nextUrl "pageCount" $pageCount) }}
     {{ end }} 
  </div>
{{ end }}