@import "partials/material-icons";

$wmmra-dark-red: #b1041d;


body {
  font-family: "Fjalla One", sans-serif;
}

.cta-button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: $wmmra-dark-red;
  color: #fff;
  cursor: pointer;
  &:hover {
    filter: brightness(120%);
  }
}

@import "partials/header";

.hero {
  height: 400px;

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
    height: 400px;
    background-size: cover;
    opacity: 0.5;
  }
}

.hero-content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.hero-announcement-box {
  width: 50%;
  padding: 1.5rem;
  background-color:rgba($wmmra-dark-red, 0.8);
  color: #fff;
}

.hero-announcement-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.hero-announcement-text {
  margin-bottom: 2rem;
}

.hero-announcement-button {
  padding: 1rem;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.3);

  &:hover {
    margin-top: -2px;
    border-width: 3px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

.news-summary {
  margin: 10px;
  border: 1px solid #333;
}