// global vars live out here (partials caused problems)
$wmmra-dark-red: #b1041d;
$white: #fff;
$default-text-color: #333;
$black: #000;
$light-gray: #ccc;
$default-box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0, 0, 0, 0.3);

// base styles (body, content)
// default font size to 10px so calculating rems is easier
:root {
  font-size: 62.5%; // 0.625px == 1 rem
}

body {
  font-size: 1rem; // 10px
}

html,
body {
  &.menu-open {
    overflow: hidden;
  }
}

body {
  font-family: "Fjalla One", sans-serif;
}

.page-content-wrapper {
  padding-top: 1.5rem;
}

@import "partials/media";
@import "partials/header";
@import "partials/hero";
@import "partials/footer";
@import "partials/material-icons";

// TODO: make a partial for this
.news-summary {
  margin: 1rem;
  border: 0.1rem solid #333;
}

