// global vars live out here (partials caused problems)
$wmmra-dark-red: #b1041d;
$white: #fff;
$default-text-color: #333;
$black: #000;
$medium-gray: #817f82;
$light-gray: #dedadb;
$extra-light-gray: #fcfcfc;
$default-box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0, 0, 0, 0.3);

// approx px as em values - https://stackoverflow.com/a/43131958
$small-screen-breakpoint: 23rem; // 360px
$medium-screen-breakpoint: 30em; // 480px
$mobile-breakpoint: 48em; // 768px
$large-screen-breakpoint: 64rem; // 1024px
$xlarge-screen-breakpoint: 81em; // 1300px
$xxlarge-screen-breakpoint: 100em; // 1600px
$xxxlarge-screen-breakpoint: 120em; // big

// VIP partials
@import "themes/wmrra-com-theme/assets/sass/partials/media";
@import "themes/wmrra-com-theme/assets/sass/partials/mixins";

// base styles (body, content)
// default font size to 10px so calculating rems is easier
:root {
  font-size: 62.5%; // 0.625px == 1 rem
}

body {
  font-size: 1rem; // 10px
}

html,
body {
  &.modal-open {
    overflow: hidden;
  }
}

body {
  font-family: "Fjalla One", sans-serif;
}

p {
  margin: 0 0 1.5rem;
  line-height: 2.5rem;
}

.content-wrapper {
  max-width: 103rem;
  margin: auto;
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
}

.sr-only {
  visibility: hidden;
}

.modal-overlay {
  @include full-container-overlay;

  top: 0;
  left: 0;
}

.site-button {
  @include link-overrides($white);

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: $wmmra-dark-red;
  color: $white;
  text-align: center;
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

@import "themes/wmrra-com-theme/assets/sass/partials/header";
@import "themes/wmrra-com-theme/assets/sass/partials/hero";
@import "themes/wmrra-com-theme/assets/sass/partials/footer";

// TODO: make a partial for this content
.header-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  margin-bottom: 2rem;
  overflow: hidden;

  img {
    height: 10rem;

    @include media-min($medium-screen-breakpoint) {
      max-width: 100%;
      height: auto;
    }
  }
}

.news-summary {
  margin: 1rem;
  border: 0.1rem solid #333;
}

.event-schedule{
  table, th, td {
    border-style:ridge;
  }

  table { 
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 10px;
    height: 40px;
  }
}