// global vars live out here (partials caused problems)
$wmmra-dark-red: #b1041d;
$wmmra-dark-red-20: #8e0317;
$white: #fff;
$default-text-color: #333;
$light-default-text-color: #6a6a6a;
$disabled-text-color: #bbb;
$black: #000;
$medium-gray: #817f82;
$light-gray: #dedadb;
$extra-light-gray: #fcfcfc;
$default-box-shadow: 0 0.8rem 0.8rem -0.5rem rgba(0, 0, 0, 0.3);

// approx px as em values - https://stackoverflow.com/a/43131958
$small-screen-breakpoint: 23rem; // 360px
$medium-screen-breakpoint: 30em; // 480px
$mobile-breakpoint: 48em; // 768px
$large-screen-breakpoint: 64rem; // 1024px
$xlarge-screen-breakpoint: 81em; // 1300px
$xxlarge-screen-breakpoint: 100em; // 1600px
$xxxlarge-screen-breakpoint: 120em; // big

// VIP partials
@import "themes/wmrra-com-theme/assets/sass/partials/media";
@import "themes/wmrra-com-theme/assets/sass/partials/mixins";

// base styles (body, content)
// default font size to 10px so calculating rems is easier
:root {
  font-size: 62.5%; // 0.625px == 1 rem
}

body {
  font-size: 1rem; // 10px
}

html,
body {
  &.modal-open {
    overflow: hidden;
  }
}

body {
  height: 100vh;
  font-family: "Fjalla One", sans-serif;
}

p {
  margin: 0 0 1.5rem;
  line-height: 2.5rem;
}

#content {
  min-height: calc(100% - 14.7rem); // allow for header + footer
}

.content-wrapper {
  max-width: 103rem;
  margin: auto;
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
}

.sr-only {
  visibility: hidden;
}

.modal-overlay {
  @include full-container-overlay;

  top: 0;
  left: 0;
}

.site-button {
  @include link-overrides($white);

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: $wmmra-dark-red;
  color: $white;
  text-align: center;
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

@import "themes/wmrra-com-theme/assets/sass/partials/header";
@import "themes/wmrra-com-theme/assets/sass/partials/hero";
@import "themes/wmrra-com-theme/assets/sass/partials/footer";

// TODO: make a partial for this content
.header-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  margin-bottom: 2rem;
  overflow: hidden;

  img {
    height: 10rem;

    @include media-min($medium-screen-breakpoint) {
      max-width: 100%;
      height: auto;
    }
  }
}

.news-summary {
  margin: 1rem;
  border: 0.1rem solid #333;
}

.event-schedule{
  h1 {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    position: relative;

    @include media-min($small-screen-breakpoint) {
      &::before {
        @include pseudo-icon("\f21c");
        position: absolute;
        right: 0;
        padding-left: 1rem;
        background-color: $white;
        color: $wmmra-dark-red;
      }
      
      &::after {
        content: "";
        flex: 1;
        height: 0.3rem;
        margin-left: 1rem;
        background-color: #b1041d;
      }
    }
  }

  table, th, td {
    border-style: ridge;
  }

  table { 
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 1rem;
    height: 4rem;

    &:first-child {
      min-width: 8.5rem;
    }
  }

  @include media-max($medium-screen-breakpoint) {
    th, td {
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }
  }
}

.big-red-header {
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding: 1rem;
  background-color: $wmmra-dark-red;
  color: $white;
  text-align: center;
  line-height: 4.5rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.page-button {
  @include link-overrides($white);

  width: 12rem;
  margin: 0 2rem;
  padding: 1rem 0;
  background-color: $wmmra-dark-red;
  text-align: center;

  &:hover {
    background-color: $wmmra-dark-red-20;
  }

  &.disabled {
    background-color: $light-gray;
    color: $disabled-text-color;
    cursor: default;

    &:hover {
      background-color: $light-gray;
    }
  }

  &.prev {
    .button-text {
      &::before {
        @include pseudo-icon("\f100");
        margin-right: 0.5rem;
      }
    }
  }

  &.next {
    .button-text {
      &::after {
        @include pseudo-icon("\f101");
        margin-left: 0.5rem;
      }
    }
  }
}