{{ $sponsorshipLevelData := .Site.Data.sponsorshipLevels.sponsorshipLevelData }}
{{ $sponsorshipRows := slice }}
{{ $currRowNumber := 1 }}

{{ with $sponsorshipLevelData }}
  {{ $currRow := slice }}
  {{ range . }}
    {{ if eq .rowNumber $currRowNumber }}
      {{ $currRow = $currRow | append . }}
    {{ else }}
      {{ $sponsorshipRows = $sponsorshipRows | append slice $currRow }}
      {{ $currRow = (slice .) }}
      {{ $currRowNumber = add $currRowNumber 1 }}
    {{ end }}
  {{ end }}
  {{ if gt (len $currRow) 0 }}
    {{ $sponsorshipRows = $sponsorshipRows | append slice $currRow }}
  {{ end }}
{{ end }}

<div>
  <div class="become-a-supporter-header">
    <h1>Become a WMRRA sponsor</h1>
    <p>
      Thank you for considering becoming or renewing an existing sponsorship of
      the Washington Motorcycle Road Racing Association. WMRRA has operated since
      1974 and is a registered 501(c)4 nonprofit organization. Thanks to the
      generous support of our sponsors we have been able to continue our mission.
      Sponsorship allows our organization to provide motorcycle racing in the
      Pacific Northwest; both providing a community and creating opportunities
      for riders to demonstrate abilities and advance to other levels of competition.<br />
      Reach out to <a href="mailto:2ndvp@wmrra.com" target="_blank">2ndvp@wmrra.com</a>
      to learn more.
    </p>
    <a href="/downloads/2026-WMRRA-Sponsorship-Prospectus.pdf" class="site-button">
      Download the 2026 Sponsor Prospectus
    </a>
  </div>

  <div class="become-a-supporter-blocks-wrapper">
    {{ range $sponsorshipRows }}
      {{ if gt (len .) 0 }}
        <div class="become-a-supporter-blocks-row">
          {{ range . }}
            {{ $levelClass := (print "level-" (lower (delimit (split .level " ") "-"))) }}
            {{ $mailSubject := (print "WMRRA Sponsorship Interest - " .level) }}
            {{ $showModalLink := (gt (len .benefits) 4) }}
            {{ $hasDiscountValues := (and (ne .discountPrice nil) (ne .discountUntil nil)) }}
            {{ $isDiscounted := (and $hasDiscountValues (lt time.Now (time.AsTime .discountUntil))) }}
            {{ $bigPrice := cond $isDiscounted .discountPrice .fullPrice }}
            {{ $levelName := cond .isPremier (printf "%s Sponsor" .level) .level }}

            <div class="become-a-supporter-level-block {{ $levelClass }}">
              <div class="level-and-price">
                <div class="level-name">{{ $levelName }}</div>
                <div class="price-details">
                  {{ if $isDiscounted }}
                    <div class="strikethrough-price">
                      {{ (print "$" (lang.FormatNumberCustom 0 .fullPrice)) }}
                    </div>
                  {{ end }}
                  <div class="big-price">
                    {{ (print "$" (lang.FormatNumberCustom 0 $bigPrice)) }}
                  </div>
                </div>
                {{ if $isDiscounted }}
                  <div class="disclaimer">until {{ dateFormat "Jan 2, 2006" .discountUntil}}</div>
                {{ end }}
              </div>
            
              <div class="benefits-list">
                <ul>
                  {{ range (first 4 .benefits) }}
                    <li>{{ . | safeHTML }}</li>
                  {{ end }}
                </ul>

                {{ if .isPremier }}
                  <ul>
                    {{ range (first 4 (after 4 .benefits)) }}
                      <li>{{ . | safeHTML }}</li>
                    {{ end }}
                  </ul>
                {{ end }}
                </div>

              <div>
                {{ if $showModalLink }}
                  <a href="#" class="see-all-benefits-link">See all benefits</a>
                  <div class="supporter-level-benefits-modal {{ $levelClass }}">
                    <i aria-label="Clode modal" class="modal-close-icon fas fa-times" title="Close modal"></i>
                    <div class="benefits-modal-content">
                      <div class="level">{{ $levelName }}</div>
                      <ul>
                        {{ range .benefits }}
                          <li>{{ . | safeHTML }}</li>
                        {{ end }}
                      </ul>
                    </div>
                  </div>
                {{ end }}
              </div>
              
              <a class="inquiry-button" href="mailto:2ndvp@wmrra.com?subject={{ $mailSubject }}" target="_blank">
                Sponsor at this level
              </a>
            </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
