{{ $sponsorshipLevelData := .Site.Data.sponsorshipLevels.sponsorshipLevelData }}
{{ $sponsorshipRows := slice }}

{{ with $sponsorshipLevelData }}
  {{ $row := slice }}
  {{ range . }}
    {{ if or (lt (len $row) 2) (eq (index ($row) 0).costInDollars .costInDollars) }}
      {{ $row = $row | append . }}
    {{ else }}
      {{ $sponsorshipRows = $sponsorshipRows | append (slice $row) }}
      {{ $row = (slice . ) }}
    {{ end }}
  {{ end }}
  {{ if gt (len $row) 0 }}
    {{ $sponsorshipRows = $sponsorshipRows | append (slice $row) }}
  {{ end }}
{{ end }}

<div>
  <div class="become-a-supporter-header">
    <h1>Become a WMRRA sponsor</h1>
    <div>
      Thank you for considering becoming or renewing an existing sponsorship of
      the Washington Motorcycle Road Racing Association. WMRRA has operated since
      1974 and is a registered 501(c)4 nonprofit organization. Thanks to the
      generous support of our sponsors we have been able to continue our mission.
      Sponsorship allows our organization to provide motorcycle racing in the
      Pacific Northwest; both providing a community and creating opportunities
      for riders to demonstrate abilities and advance to other levels of competition.
    </div>
  </div>

  <div class="become-a-supporter-blocks-wrapper">
    {{ range $sponsorshipRows }}
      <div class="become-a-supporter-blocks-row">
        {{ range . }}
          {{ $levelId := (lower (delimit (split (replaceRE `\sSponsor\s?-?\s?` "" .level) " ") "-")) }}
          {{ $blockClass := (print "level-" .tier) }}
          {{ $formattedCost := (print "$" (lang.NumFmt 0 .costInDollars)) }}
          {{ $mailSubject := (print "Becoming a WMRRA " .level) }}
          {{ $showModalLink := (gt (len .benefits) 4) }}
          <div class="become-a-supporter-level-block {{ $blockClass }}">
            <div class="supporter-level-content">
              <div class="level-and-cost">
                <div class="supporter-level">{{ .level }}</div>
                <div class="cost">{{ $formattedCost }}</div>
              </div>
              <div class="benefits">
                <ul>
                  {{ range (first 4 .benefits) }}
                    <li>{{ . | safeHTML }}</li>
                  {{ end }}
                </ul>
                {{ if $showModalLink }}
                  <a href="#" class="see-all-benefits-link" data-level-id="{{ $levelId }}">See all</a>
                {{ end }}
              </div>
              <a class="inquiry-button" href="mailto:2ndvp@wmrra.com?subject={{ $mailSubject }}" target="_blank">
                Sponsor at this level
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>

<div class="supporter-level-benefits-modal">
  <i aria-hidden="true" class="modal-close-icon fas fa-times" title="Close modal"></i>
  {{ range $sponsorshipLevelData }}
    {{ $levelClass := (print "level-" .costInDollars) }}
    {{ $levelId := (lower (delimit (split (replaceRE `\sSponsor\s?-?\s?` "" .level) " ") "-")) }}
    <div id="{{ $levelId }}" class="benefits-modal-content {{ $levelClass }} hidden">
      <div class="level">Complete {{.level }} Benefits</div>
      <ul>
        {{ range .benefits }}
          <li>{{ . | safeHTML }}</li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>
