{{ if fileExists "static/minutes" }}
    {{ $files := readDir "static/minutes" }}
    {{ $minutesByYear := dict }}
    {{ $currentYear := "" }}
    {{ $currentMins := slice }}
    {{ $allYears := slice }}
    {{ range sort $files "Name" "desc"}}
        {{ $separated := split .Name "-" }}
        {{ $date := index $separated 0}}
        {{ $year := substr $date 0 4 }} 
        {{ $month := substr $date 4 2 }} 
        {{ $day := substr $date 6 2 }} 
        {{ $date := print $year "-" $month "-" $day }}

        {{ if and (ne $currentYear $year) }}
            {{ if (gt (len $currentYear) 0) }}
                {{ $minutesByYear = merge $minutesByYear (dict $currentYear $currentMins)}}
                {{ $allYears = $allYears | append $currentYear }}
            {{ end }}
            {{ $currentYear = $year }}
            {{ $currentMins = slice (dict "name" .Name "date" $date) }}
        {{ else }}
            {{ $currentMins = $currentMins | append (dict "name" .Name "date" $date) }}
        {{ end }} 
    {{ end }}

    <div class="board-minutes page-content">
        <h1>WMRRA Board Meeting Minutes Archive</h1>
        {{ range $allYears }}
            <div class="board-minutes-section">
                <div class="board-minutes-year">{{ . }}</div>
                <div class="board-minutes-links-wrapper">
                    {{ range index $minutesByYear . }}
                        <a class="board-minutes-link" href="/minutes/{{ .name }}">
                            <i aria-hidden="true" class="fas fa-regular fa-file-pdf"></i>
                            <span>{{ dateFormat "Monday, Jan 2, 2006" .date }}</span>
                        </a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}