<div class="contingency-page page-content">
  <div class="header-image">
    <img alt="WMRRA champion recieving a large trophy" src="/images/contingency-header.jpg">
  </div>

  <div class="page-section">
    <h1>Contingency Programs</h1>

    <p>
      Motorcycle contingency is a <strong>performance-based rewards program</strong> offered by manufacturers and
      sponsors to racers. Riders who use eligible products and display required branding can earn <strong>cash, credits,
      or product awards</strong> based on their finishing position in a race.
    </p>
  </div>

  <div class="page-section">
    <h2>Manufacturer Contingency</h2>
    <p>
      Many major motorcycle brands offer contingency programs for recent model bikes (1-2 years old). <br /> 
      You can learn more about qualifications and register directly on the manufacturers' websites.
    </p>
    <ul>
      <li>
        <a href="https://www.bmwmotorcycles.com/en/experience/stories/sport/bmw-motorrad-usa-customer-racing-program-.html"
          target="_blank" rel="noreferrer">BMW</a>
      </li>
      <li>
        <a href="https://hondaridered.com/" target="_blank" rel="noreferrer">Honda</a>
      </li>
      <li>
        <a href="https://www.kawasaki.com/en-us/racing/team-green" target="_blank" rel="noreferrer">Kawasaki</a>
      </li>
      <li>
        <a href="https://www.yamahamotorsports.com/Racing.php?action=racing-contingency&type=motorcycle-racing-road-contingency"
          target="_blank" rel="noreferrer">Yamaha</a>
      </li>
    </ul>
  </div>

  <div class="page-section">
    <h2>Local Sponsors & Services Contingency</h2>
    <p>
      Local brands and companies require you to fill out their contingency form before each race round. You can find the
      this season's contingency program participants and their forms below.
    </p>
    <p>
      These forms must be
      filled out and submitted to <a href="mailto:contingency@wmrra.com">contingency@wmrra.com</a> before racing begins
      on Saturday in order to get paid.<br />
      <strong>If you do not submit these forms, you will NOT be eligible for contingency payments.</strong>
    </p>

    <div class="local-contingency-section">
      <div class="local-contingency-block">
        <h3>Kumpy Racing Services (Dunlop)</h3>
        <div class="contingency-block-buttons">
          <a href="/contingency/2026-KRS-Dunlop-Contingency-Payout.pdf" class="site-button">KRS Rules & Payout Schedule</a>
          <a href="/contingency/2026-KRS-Dunlop-Contingency-Form.pdf" class="site-button">KRS Contingency Form</a> 
        </div>
      </div>

      <div class="local-contingency-block">
        <h3>Bridgestone Tires</h3>
        <div class="contingency-block-buttons">
          <a href="/contingency/2026-Bridgestone-Contingency-Payout.pdf" class="site-button">Bridgestone Rules & Payout Schedule</a> 
          <a href="/contingency/2026-Bridgestone-Contingency-Form.pdf" class="site-button">Bridgestone Contingency Form</a>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <h2>Questions?</h2>
    <p>
      Reach out to <a href="mailto:contingency@wmrra.com">contingency@wmrra.com</a>
    </p>
  </div>
</div>