{{ $contactsData := index .Site.Data.contacts.contactsData }}


<div class="page-content contacts-page">
  <div class="contacts-nav-container">
    {{ range $contactsData }}
      <a href="#{{ .header | urlize }}" class="site-button">{{ .header }}</a>
    {{ end }}  
  </div>

  {{ range $contactsData }}
    <div class="page-section" id="{{ .header | urlize }}">
      <h2>{{ .header }}</h2>
      <div class="contacts-container">
        {{ range .people }}
          <div class="contact-block">
            {{ if .image }}
              {{ $imgPath := (printf "images/contacts/%s.webp" .image) }}
              <img src="{{ $imgPath | absURL }}" alt="Photo of {{ .name }}" />
            {{ else }}
              <img src="/images/contacts/ContactPlaceholder.webp" alt="Placeholder image for {{ .name }}" />
            {{ end }}
            <div class="position">{{ .position }}</div>
            <div class="name">{{ .name }}</div>
            {{ if .email }}
              <a href="mailto:{{ .email }}" class="email">
                {{ .email }}
              </a>
            {{ end }}  
            {{ if .phone }}
              <a href="tel:{{ .phone }}" class="phone">
                <i aria-hidden="true" class="fa-solid fa-phone"></i>
                {{ .phone }}
              </a>
            {{ end }}  
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>  
