

{{ $scheduleData := .Site.Data.schedule }}
{{ $years := slice }}
{{ range $year, $_data := $scheduleData }}
  {{ $years = $years | append $year }}
{{ end }}



{{/*
   This whole thing gets populated via Javascript so we can 
   automatically update it with the current year's schedule
*/}}
{{ with $scheduleData }}
  {{ range sort $years "value" "desc" | first 1 }}
    {{ $schedule := (index $scheduleData  .) }}
    <div class="current-schedule-section home-content-section-wrapper">
      <div class="current-schedule-header">
        <h1>{{ . }} Race Schedule</h1>
      </div>
      {{ partial "schedule-table" (dict "scheduleData" (index $scheduleData  .)) }} 
    </div>
  {{ end }}
{{ end }}