{{ $currentDateString := printf "%s" (time.Now.Format "2006-01-02") }}
{{ $featuredAnnouncement := (sort (where (where site.RegularPages "Section" "news") "Params.featureUntil" "gt" $currentDateString) "Params.featureUntil" "asc" | first 1) }}

<!-- Get next year's schedule if available, or this years -->
{{ $currentYear := string time.Now.Year}}
{{ $nextYear := string (add time.Now.Year 1)}}
{{ $scheduleYear := $currentYear}}
{{ if isset site.Data.schedule $nextYear }}
  {{ $scheduleYear = $nextYear}}
{{ end }}
{{ $currentSchedule := jsonify (index site.Data.schedule $scheduleYear) }} 
{{/* To add: last race results */}}

<div class="hero-announcement-content">
  {{/* Only ONE of these will remain; the fancy javascript will decide which one */}}
  {{/* Precedence is determined in hero.js; if you add a new block here, add it there */}}
  {{ range $featuredAnnouncement }}
    <div
      id="latest-announcement"
      class="hero-announcement-content-block"
      data-feature-until="{{ .Params.featureUntil }}"
    >
      <div class="hero-announcement-text">
        <h1>{{ .Title }}</h1>
        <h3>{{ .Description }}</h3>
      </div>
      <div class="hero-announcement-button-wrapper">
        <a class="hero-announcement-button" href="{{ .Permalink }}">Read More</a>
      </div>
    </div>
  {{ end }}

  <div id="race-day" class="hero-announcement-content-block">
    <div class="hero-announcement-text">
      <h1>It's Race Day!</h1>
    </div>

    <div class="race-day-button-wrapper">
      <a
        class="hero-announcement-button"
        href="https://speedhive.mylaps.com/Organizations/96388"
        target="_blank"
        rel="noreferrer"
      >
        Live Timing
      </a>
    </div>
  </div>

  <div
    id="next-race-event"
    class="hero-announcement-content-block"
    data-schedule="{{ $currentSchedule }}"
    data-year="{{ $scheduleYear }}"
  >
    <div class="hero-announcement-text">
      <h1>Next Race Round</h1>
    </div>
  </div>

  <div id="default" class="hero-announcement-content-block">
    <div class="hero-announcement-text"><h1>Welcome to WMRRA!</h1></div>
    <a class="hero-announcement-button" href="">Learn More</a>
  </div>
</div>
