<div class="new-racer-page">
  <div class="new-racer-nrs-callout">
    Learn more about WMRRA's 2025 new racer school <a href="/news/20241105-2025-nrs/">HERE</a>.
  </div>
  <div class="new-racer-nrs-callout">
    Want to chat with our Novice Representative, or ask
    questions of other racers? Join us on
    <a href="https://discord.gg/Ebgz2jNeYs">Discord</a>.
  </div>
  <div class="new-racer-form-container">
    <div class="new-racer-form-loading">
      <i aria-hidden="true" class="fa fa-spinner fa-3x fa-pulse" title="Content loading"></i>
    </div>
    <iframe 
      id="new-racer-form-iframe" 
      src="https://docs.google.com/forms/d/e/1FAIpQLSejpkQcmPIA6UTDN65aZohtkNqifOy9wzXZeyNtPCwShjOtEA/viewform?embedded=true" 
      width="100%" 
      height="0" 
      frameborder="0" 
      marginheight="0"
      marginwidth="0"
    >
    </iframe>
  </div>
</div>

