{{ $csv := getCSV "," "/csv/race-numbers.csv" }}

<div>
  <div class="racer-search-wrapper">
    <input type="text" placeholder="Search by name or number" />
  </div>
  <div class="racers-outer">
    <div class="racers-wrapper">
      {{ range $idx, $row := $csv }}
        {{ if (ne $idx 0) }}
          {{ $lastName := index $row 0 }}
          {{ $firstName := index $row 1 }}
          {{ $fullName := (print $firstName " " $lastName)}}
          {{ $number := index $row 2 }}
          {{ $imgPath := (print "images/racers/" $number ".png") }}
          {{ $staticPath := (print "static/" $imgPath) }}
          {{ $exists := fileExists $staticPath }}
          {{ $containerClass := "racer-cell flipper-container" }}
          {{ if not $exists }}
            {{ $containerClass = (print $containerClass " no-image") }}
          {{ end }}
          <div class="{{ $containerClass }}" data-name="{{ $fullName }}" data-number="{{ $number }}">
            <div class="racer-cell flipper">
              <div class="racer-cell content front">
                {{ if $exists }} 
                  <img src="{{ $imgPath | absURL }}" />
                {{ else }}
                  <div class="racer-number">{{ $number }}</div>
                {{ end }}
              </div>
              <div class="racer-cell content back">
                <div class="racer-number">
                  {{ $number }}
                </div>
                <div class="racer-name">
                  {{ if eq (lower $firstName) "retired" }}
                    <span>{{ upper $firstName }}</span>
                    <span class="retired-name">{{ $lastName }}</span>
                  {{ else }}
                    {{ $fullName }}
                  {{ end }}
                </div>
              </div>
            </div>

            <div class="racer-cell-label">{{ $fullName }}</div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>