{{ $csv := getCSV "," "/csv/race-numbers.csv"  }}

<div class="racer-table">
  <div class="racer-table-row table-header">
    <div class="racer-table-cell center">Number</div>
    <div class="racer-table-cell">Surname</div>
    <div class="racer-table-cell">First Name</div>
  </div>

  {{ range $idx, $row := $csv  }}
  {{ if ne $idx 0 }} 
    {{ $number := index $row 0 }}
    {{ $lastName := index $row 1 }}
    {{ $firstName := index $row 2 }}

  <div class="racer-table-row">
    <div class="racer-table-cell center red">
      {{ $number }}
    </div>
    <div class="racer-table-cell">
      {{ $lastName}}
    </div>
    <div class="racer-table-cell">
      {{ $firstName }}
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
