{{ $csv := getCSV "," "/csv/race-numbers.csv" }}

<div class="racers-wrapper">
  {{ range $idx, $row := $csv }}
  {{ if (ne $idx 0) }}
  {{ $lastName := index $row 0 }}
  {{ $firstName := index $row 1 }}
  {{ $number := index $row 2 }}
  {{ $imgPath := (print "images/racers/" $number ".png") }}
  {{ $staticPath := (print "static/" $imgPath) }}
  {{ $exists := fileExists $staticPath }}

  <div class="racer-cell flipper-container">
    <div class="racer-cell flipper">
      <div class="racer-cell content front">
       {{ if $exists }} 
        <img src="{{ $imgPath | absURL }}" />
      {{ else }}
        {{ $number }}
      {{ end }}
      </div>
      <div class="racer-cell content back">
        <div class="racer-number">
          {{ $number }}
        </div>
        <div class="racer-name">
          {{ $firstName }} {{ $lastName }}
        </div>
      </div>
    </div>
  </div>

  {{ end }}
  {{ end }}
</div>