<div class="race-rgistration-page page-content">
  <div class="page-section">
    <h2>Race Registration</h2>
    <div class="race-registration-content">
      <p>
        WMRRA uses MotorsportReg for licensing and event registation.<br />
        Currently not accepting paper registations.
      </p>
      <p>
        <strong>
          Registration entries received after the cut-off deadline of noon Thursday before the event will be subject to the late registration fee! Don’t be late!
        </strong>
      </p>  
      <a 
        class="site-button"
        href="https://www.motorsportreg.com/orgs/wmrra" 
        target="_blank" 
        rel="noreferrer"
      >
        Visit MotosportReg to register
      </a>
    </div>

  </div>

  <div class="page-section">
    <h2>Registration FAQ</h2>
    <div class="race-registration-faq">
      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>How do I register for a license?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <ol>
              <li>
                Go to <a href="https://www.motorsportreg.com/orgs/wmrra" target="_blank" rel="noreferrer">www.motosportreg.com</a> 
                and create a free account, or use your previous account if you have one.
              </li>
              <li>
                Navigate to the <a href="https://www.motorsportreg.com/orgs/wmrra" target="_blank" rel="noreferrer">WMRRA Organization</a>.
              </li>
              <li>
                Select WMRRA Licensing Info.
              </li>
              <li>
                Choose the correct licensing option and complete the registration process.
              </li>
              <li>
                Enter your information including your medical insurance.
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>Do I need to purchases a WMRRA license?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            Washington state residents are encouraged to purchase a WMRRA season license. All entrants with a valid race license must purchase a WMRRA single event or season license, with the exception of current license holders from OMRRA, AFM or WMRC. Any rider who wishes to reserve a WMRRA race number, must purchase a WMRRA season license. The validity of ANY race license will be determined at the discretion of the Race Director or Referee. 
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>What does a license cost?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            License and event fees will be determined by the Executive Board prior to the first round of the season and can vary year to year. See MotorsportReg for the most up-to-date costs.
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>How do I register as a non-WMRRA member?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            When registering for an event, select the "Reciprocal License" option.
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>You didn't answer my question!</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            Please contact <a href="mailto:registration@wmrra.com">registration@wmrra.com</a> with any additional questions you may have about license and event registation.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>