{{ $csv := getCSV "," "/csv/race-numbers.csv"  }}
{{ $split := div (len $csv) 2}}
<div class="table-wrapper">

<!-- Render First Half of Racer List -->
<div class="racer-table">
  <div class="racer-table-row table-header">
    <div class="racer-table-cell center">Number</div>
    <div class="racer-table-cell">Surname</div>
    <div class="racer-table-cell">First Name</div>
  </div>

  {{ range $idx, $row := $csv  }}
  {{ if and (ne $idx 0) (le $idx $split) }} 
    {{ $lastName := index $row 0 }}
    {{ $firstName := index $row 1 }}
    {{ $number := index $row 2 }}

  <div class="racer-table-row">
    <div class="racer-table-cell center red">
      {{ $number }}
    </div>
    <div class="racer-table-cell">
      {{ $lastName}}
    </div>
    <div class="racer-table-cell">
      {{ $firstName }}
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>

<!-- Render Second Half of Racer List -->
<div class="racer-table">
  <div class="racer-table-row table-header second-header">
    <div class="racer-table-cell center">Number</div>
    <div class="racer-table-cell">Surname</div>
    <div class="racer-table-cell">First Name</div>
  </div>

  {{ range $idx, $row := $csv  }}
  {{ if and (ne $idx 0) (gt $idx $split) }}
    {{ $lastName := index $row 0 }}
    {{ $firstName := index $row 1 }}
    {{ $number := index $row 2 }}
    
  <div class="racer-table-row">
    <div class="racer-table-cell center red">
      {{ $number }}
    </div>
    <div class="racer-table-cell">
      {{ $lastName}}
    </div>
    <div class="racer-table-cell">
      {{ $firstName }}
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
</div>