<div class="schedule-table">
  <div class="schedule-table-row table-header">
    <div class="schedule-table-cell round">
      {{/* This space left intentionally blank */}}
    </div>
    <div class="schedule-table-cell date">Date</div>
    <div class="schedule-table-cell location">Location</div>
    <div class="schedule-table-cell joint-round">OMRRA</div>
  </div>

  {{ range .scheduleData }}
  <div class="schedule-table-row">
    <div class="schedule-table-cell round">Round {{ .round }}</div>
    <div class="schedule-table-cell date">{{ .date }}</div>
    <div class="schedule-table-cell location">
      <a href="{{ .locationLink }}" target="_blank">{{ .location }}</a>
    </div>
    <div class="schedule-table-cell joint-round">
      {{ if .jointRound }}
      <i
        aria-hidden="true"
        class="fas fa-check-circle joint-round-icon"
        title="Joint round with OMRRA"
      ></i>
      <span class="joint-round-text">Joint round with OMRRA</span>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
