<div class="schedule-table">
  {{ range .scheduleData }}
    <div class="schedule-table-row">
      <div class="schedule-table-cell round">
        <span>Round {{ .round }}</span>
        {{ if .doublePoints }}
         <i aria-hidden="true" class="fas fa-bolt schedule-double-points-icon"></i>
         <span class="sr-only">WMRRA double points round</span>
        {{ end }}
      </div>
      <div class="schedule-table-cell date">{{ .date }}</div>
      <div class="schedule-table-cell location">{{ .location }}</div>
      <div class="schedule-table-cell logos">
        <img class="schedule-logo wmrra" src="/images/WMRRA-logo-transparent.png" alt="This round includes the WMRRA club" />
        {{ if .jointRound }}
          <img class="schedule-logo omrra" src="/images/OMRRA-logo-black.png" alt="This round includes the OMRRA club" />
        {{ end }}
      </div>
      <div class="schedule-table-cell event-schedule">
        {{ if .eventSchedule }}
          <a href="{{ .eventSchedule }}" target="_blank" class="site-button" title="Event schedule">
            <i aria-hidden="true" class="fa fas fa-clipboard-list"></i>
            <span class="sr-only">Event schedule</span>
          </a>
        {{ end }}
        {{ if .eventProgram }}
          <a href="{{ .eventProgram }}" target="_blank" class="site-button" title="Event program">
            <i aria-hidden="true" class="fa fas fa-book-open"></i>
            <span class="sr-only">Event program</span>
          </a>
        {{ end }}
      </div>
    </div>
  {{ end }}
  <div class="schedule-table-row footer">
      <i aria-hidden="true" class="fas fa-bolt"></i>
      <span aria-hidden="true">WMRRA double points round</span>
  </div>
</div>