{{ $sponsorData := index .Site.Data.sponsors.sponsorData }}

<div>
  <div class="supporters-page-welcome">
    WMRRA would be unable to organize racing without the generous support of all of our sponsors. 
    Thank you to each and every supporter of our organization.
  </div>

  <div class="supporters-page-cta">
    <div class="cta-text">Want to see your name here?</div>
    <a href="become-a-sponsor" class="site-button">Become a WMRRA Sponsor</a>
  </div>

  {{ with $sponsorData }}
    <div class="supporters-page-supporters-wrapper"> 
      {{ range . }}
        {{ if .sponsors }}
          {{ $sponsorType := .sponsorType }}

          {{ $sortedSponsors := .sponsors }}
          {{ if eq $sponsorType "Race Day" }}
            {{ $sortedSponsors = sort .sponsors "description" }}
          {{ else if hasPrefix $sponsorType "Club" }}
            {{ $sortedSponsors = sort .sponsors "name" }}
          {{ end }}

          <div class="supporters-page-supporters-section">
            {{ if not (eq $sponsorType "VIP") }}
              <h2>{{ $sponsorType  }} Sponsors</h2>
            {{ end }}
          
            <div class="supporters-page-supporters-list">
              {{ range $sortedSponsors }}
                {{ partial "sponsor-page/sponsor-page-block" (dict "context" . "sponsorType" $sponsorType ) }}  
              {{ end }}
            </div>
          </div>
        {{ end }}

      {{ end }}
    </div>
  {{ end }}
</div>
