{{ $sponsorData := index .Site.Data.sponsors.sponsorData }}
{{ $vipSponsors := (slice "Title Sponsors" "Formula Ultra Sponsors" "Formula 2 Sponsors") }}

<div>
  <div class="supporters-page-welcome">
    WMRRA would be unable to organize racing without the generous support of all of our sponsors. 
    Thank you to each and every supporter of our organization.
  </div>

  <div class="supporters-page-cta">
    <div>Want to see your name here? Become a WMRRA sponsor!</div>
    <a href="">Learn more</a>
  </div>



  {{ with $sponsorData }}
    <div class="supporters-page-supporters-wrapper"> 
      {{ range . }}
        {{ $supporterClass := lower (delimit (split (replaceRE " Sponsors" "" .title) " ") "-") }}
        {{ $vip := (in $vipSponsors .title) }}
        {{ $sponsorLevel := (.title | singularize) }}
        <div class="supporters-page-supporters-section {{ $supporterClass }}">

          {{/* Sorts the sponsors to be filled first, then available following */}}
          {{ $filled := slice }}
          {{ $available := slice}}
          {{ range .sponsors }}
              {{ if in .name "Sponsorship Available" }}
                {{  $available = $available | append .}}
              {{ else }}
                {{ $filled = $filled | append .}}
              {{end}}
          {{ end }}
          {{ $sortedSponsors := $filled | append $available }}
          
          {{ range $sortedSponsors }}
            {{ partial "sponsor-page/sponsor-page-block" (dict "context" . "sponsorLevel" $sponsorLevel "isVipSponsor" $vip) }}  
          {{ end }}
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>
