<div class="tech-inspection-page page-content">

  <div class="page-section">
    <h2>WMRRA Tech Inspection Overview</h2>

    <div class="tech-inspection-content-container">
      <div class="tech-inspection-video-container">
        <iframe 
          width="560" 
          height="315" 
          src="https://www.youtube.com/embed/O5tIjJnmjq8?si=3Ol13nzQU3VxqOdh"
          title="YouTube video player" 
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen
        ></iframe>
      </div>

      <p>
        <em>
          THIS IS ONLY A GENERAL GUIDE-- PLEASE CHECK THE RULEBOOK FOR THE MOST CURRENT REQUIREMENTS-- ESPECIALLY
          HELMET SPECIFICS INFORMATION.
        </em>
      </p>
    </div>
  </div>
</div>