<div class="volunteer-page page-content">
  <div class="header-image">
    <img alt="Our fearless corner captain enjoying the view" src="/images/corner-working.jpg">
  </div>

  <div class="page-section">
    <h1>The best seat in the house</h1>
    <p>
      WMRRA aspires to provide the best possible environment for people to enjoy the thrill of racing on a closed road circuit. 
      We believe the key to a successful racing event is giving maximum attention to rider safety. 
      Our volunteer corner workers play a vital role in ensuring our race events are safe for everyone, all while
      enjoying an amazing view of the fastest motorcycle riders in the Pacific Northwest.
    </p>

    <p><a href="mailto:Corner.captain@wmrra.com">Contact our corner captain</a> or read on to learn more about how you can help!</p>
  </div>

  <div class="page-section corner-working">
    <h2>Why should I be a corner worker?</h2>
    <ul class="corner-working-benefits-list">
      <li>
        <i aria-hidden="true" class="fa fa-motorcycle"></i>
        <div class="benefit-text">
          <h3>Vital operational role</h3>
          <p>Play a critical role in race day safety operations and learn more about how race days run.</p>
        </div>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-binoculars"></i>
        <div class="benefit-text">
          <h3>Unmatched race views</h3>
          <p>Corner workers get the closest view of racing action available, including parts of the track not accessible to spectators.</p>
        </div>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-flag-checkered"></i>
        <div class="benefit-text">
          <h3>Transferrable experience</h3>
          <p>Gaining experience corner working at WMRRA can potentially enable you to corner work for national- and international-level events (MotoAmerica, MotoGP).</p>
        </div>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-clipboard-check"></i>
        <div class="benefit-text">
          <h3>Club membership</h3>
          <p>Any volunteer who contributes to 3 or more consecutive race-rounds is considered an eligible voting club member for the WMRRA general election.</p>
        </div>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-utensils"></i>
        <div class="benefit-text">
          <h3>Meals, snacks, beverages</h3>
          <p>Who says there's no such thing as a free lunch? Breakfast, lunch, snacks, and post-race beverages are provided for all corner workers.</p>
        </div>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-heart"></i>
        <div class="benefit-text">
          <h3>Friendship and fun</h3>
          <p>Hang out with folks who are just as passionate about racing as you!</p>
        </div>
      </li>
    </ul>

    <div class="corner-worker-sign-up-button">
      <a href="mailto:Corner.captain@wmrra.com" class="site-button">
        <span>Sign me up!</span>
        <i aria-hidden="true" class="fas fa-angle-double-right"></i>
      </a>
    </div>

  </div>

  <div class="page-section corner-working">
    <h2>Corner worker FAQ</h2>
    <div class="corner-worker-faq">
      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>Do I need experience to be a corner worker?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <p>
              Absolutely not! No prior corner working or racing experience is necessary. We provide
              a brief orientation session for corner workers each race day and will pair you with an
              experienced volunteer to help you feel comfortable in your new role.
            </p>
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>What should I wear?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <ul>
              <li><strong>No red clothing!</strong> We do not want riders to confuse your shirt for a red flag.</li>
              <li>
                <strong>Comfortable, closed-toed shoes.</strong> You will be standing most of the day, as well as potentially walking or running on and off track.
              </li>
              <li>
                <strong>Long pants.</strong> Protect your legs from hot bikes, tall brush, etc.
              </li>
              <li>
                <strong>Weather-appropriate attire.</strong> You will have a corner stand or pop-up to generally shelter you from the elements, but still dress to keep yourself warm, cool, and/or dry.
              </li>
              <li>
                <strong>Work gloves (optional).</strong> Helpful if you're going to be picking up bikes.
              </li>
            </ul>
         </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>What do corner workers do?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <p>
              Corner workers keep riders safe by serving as the primary communication channel between riders and race officials. 
              They also ensure the racing surface is clear and are the first to offer assistance to riders who need help. Their duties include:
            </p>
            <ul>
              <li>Radio communication with race control and other race day staff regarding incidents and track conditions.</li>
              <li>Communication to riders with flags about track conditions and safety issues.</li>
              <li>Ensuring the racing surface is clean and free of debris and hazards.</li>
              <li>Assisting riders who have problems.</li>
              <li>Directing riders toward safe racing lines.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>What does a corner worker's day look like?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <p>
              Here is a typical corner worker's schedule:
            </p>
            <ul>
              <li>
                <strong>6:30am:</strong> Meet fellow corner workers. Eat breakfast. Get corner assignment, safety vest, and radio.
              </li>
              <li>
                <strong>7:00am:</strong> Attend corner worker orientation and safety meeting.
              </li>
              <li>
                <strong>8:00am:</strong> Attend rider safety meeting to get any important updates for the day's race schedule.
              </li>
              <li>
                <strong>8:30am:</strong> Stock up on water and snacks. Head out to assigned corner.
              </li>
              <li>
                <strong>8:45am:</strong> Inspect your corner, flags, and safety equipment. Ensure everything is ready to go racing.
              </li>
              <li>
                <strong>9:00am:</strong> Get ready for "green track" and the first action of the day!
              </li>
              <li>
                <strong>11:30am:</strong> Lunch.
              </li>
              <li>
                <strong>12:15pm:</strong> Stock up on more water and snacks. Head back and get ready for the afternoon's races.
              </li>
              <li>
                <strong>5:00pm:</strong> Track shutdown. Pack up your corner stand. Drop off radio and vest. Grab a cold beverage to celebrate your hard work!
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>Do I have to work the whole day?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <p>
              You can work a half-day (morning or afternoon) - we'd love to have you! 
            </p>
          </div>
        </div>
      </div>

      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>Can my group come and corner work together?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <p>
              We love to have groups join us! Groups participating as corner workers have an opportunity to receive
              exposure on race day through PA announcements and the opportunity to set up an information booth in the pit.
            </p>
            <p>
              Past groups include: Goldwing Touring Association, Tacoma Harley Owner's Group, and Christian Motorcyclists Association of Washington.
            </p>
          </div>
        </div>
      </div>
      
      <div class="faq-entry sliding-drawer">
        <div class="faq-entry-question sliding-drawer-header">
          <span>How do I sign up for this fabulous opportunity?</span>
          <i aria-hidden="true" class="fa fa-chevron-circle-down sliding-drawer-indicator closed" title="Show answer"></i>
          <i aria-hidden="true" class="fa fa-chevron-circle-up sliding-drawer-indicator open" title="Hide answer"></i>
        </div>
        <div class="faq-entry-answer sliding-drawer-content">
          <div class="sliding-drawer-content-inner">
            <p>
              <a href="mailto:Corner.captain@wmrra.com">Email our corner captain</a> to get the fun started!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>