<div class="volunteer-page-content">
  <div class="volunteer-page-section">
    <h1>The best seat in the house</h1>
    <p>
      WMRRA aspires to provide the best possible environment for people to enjoy the thrill of racing on a closed road circuit. 
      We believe the key to a successful racing event is giving maximum attention to rider safety. 
      Our volunteer corner workers play a vital role in ensuring our race events are safe for everyone, all while
      enjoying an amazing view of the fastest motorcycle riders in the Pacific Northwest.
    </p>

    <p>Contact our corner captian or read on to learn more about how you can help!</p>
  </div>

  <div class="volunteer-page-section">
    <h2>Why should I be a corner worker?</h2>
    <ul>
      <li>
        <i aria-hidden="true" class="fa fa-motorcycle"></i>
        <h3>Vital operational role</h3>
        <p>Play a critical role in race day safety operations and learn more about how race days run.</p>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-binoculars"></i>
        <h3>Unmatched race views</h3>
        <p>Corner workers get the closest view of racing action available, including parts of the track not accessible to spectators.</p>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-flag-checkered"></i>
        <h3>Valuable experience</h3>
        <p>Gaining experience corner working at WMRRA can potentially enable you to corner work for national- and international-level events (AMA, MotoGP).</p>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-clipboard-check"></i>
        <h3>Club membership</h3>
        <p>Any volunteer who contributes to 3 or more consecutive race-rounds is considered an eligible voting clun member for the WMRRA general election.</p>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-utensils"></i>
        <h3>Meals, snacks, beverages</h3>
        <p>Who says there's no such thing as a free lunch? Breakfast, lunch, snacks, and post-race beverages are provided for all corner workers.</p>
      </li>

      <li>
        <i aria-hidden="true" class="fa fa-heart"></i>
        <h3>Camraderie and fun</h3>
        <p>Hang out with folks who are just as passionate about racing as you!</p>
      </li>
    </ul>
  </div>
</div>