{{ $whatYearIsIt := time.Now.Year }}
{{ $omrraLogo:= "images/OMRRA-logo.png" }}
<div class="footer">
  <div class="copyright">©{{ $whatYearIsIt }} WMRRA</div>
  {{ with $.Site.Data.socialMedia.socialLinks }}
    <div class="footer-links">
      {{ range . }}
        <a aria-label="{{ .name }}" href="{{ .link }}" target="_blank">
          <i aria-hidden="true" class="{{ .icon }}" title="Visit WMRRA on {{ .name }}"></i>
        </a>
      {{ end }}
    </div>
  {{ end }}
</div>

{{ "<!-- Essential Scripts -->" | safeHTML }}

{{ "<!-- jQuery -->" | safeHTML }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ "<!-- Good stuff -->" | safeHTML }}
{{ $script := resources.Get "js/main.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ if templates.Exists "partials/custom-scripts.html" }}
  {{ "<!-- Gooder stuff -->" | safeHTML }}
  {{ partial "custom-scripts" . }}
{{ end }}