.hero {
  &::after {
    background-image: url("../images/finger_guns.jpeg");
  }
}

// all hero announcement content will start hidden
// hero.js will decide what to display
// and these fancy styles will make it slide/fade in
.hero-announcement-content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: 0;

  &.the-chosen-one {
    transform: translateX(200%);
    animation: fadeIn 1.2s ease-in forwards, slideIn 1s ease-out forwards;

    @keyframes slideIn {
      100% {
        transform: translateX(0);
      }
    }

    @keyframes fadeIn {
      100% {
        opacity: 1;
      }
    }
  }
}

#race-countdown-clock {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  justify-content: center;

  .countdown-number-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 4rem 2.5rem;
    align-items: center;

    &:before {
      content: ":";
      position: absolute;
      top: 0;
    }

    &:first-child {
      &:before {
        content: "";
      }
    }
  }

  .countdown-number {
    font-weight: 600;
  }

  .countdown-label {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.home-content-section {
  display: flex;
  justify-content: center;
  padding: 4.5rem 2rem 5.5rem;

  &.latest-news {
    background-color: $wmmra-dark-red;
    color: $white;
  }

  &.homepage-schedule {
    background-color: $light-gray;
    color: $wmmra-dark-red;
  }
}

.home-content-section-wrapper {
  display: grid;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-gap: 4rem;
  justify-items: center;
  width: 100%;
  max-width: 160rem;
}

.home-content-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include media-max($mobile-breakpoint) {
    flex-direction: column;
  }

  .logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 10rem;
  }
    
  h1 {
    font-size: 6rem;
    text-transform: uppercase;

    @include media-min($small-screen-breakpoint) {
      font-size: 7rem;;
    }
  }
}

.we-are-wmrra-blocks-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 0.5rem;

  @include media-min($small-screen-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @include media-max(60rem) {
    grid-gap: 4rem;
  }
}

.we-are-wmrra-block {
  display: grid;
  grid-template-rows: 26rem 1fr;
  grid-gap: 3rem;
  justify-items: center;

  @include media-min($small-screen-breakpoint) {
    grid-template-rows: 30rem 1fr;
  }

  &.support {
    grid-column: span 1;

    @include media-min(42rem) {
      grid-column: span 2;
    }

    @include media-min(60rem) {
      grid-column: span 1;
    }
  }

  .block-image {
    @include flex-column-centered;
    @include link-overrides($white);

    position: relative;
    height: 26rem;
    width: 26rem;
    background-size: auto 26rem;
    background-position: center;
    transition: background-size 3s;
    cursor: pointer;

    @include media-min($small-screen-breakpoint) {
      height: 30rem;
      width: 30rem;
      background-size: auto 30rem;
    }

    &.race {
      background-image: url("../images/Race-with-WMRRA.jpg");
    }

    &.volunteer {
      background-image: url("../images/Volunteers.jpg");
    }

    &.support {
      background-image: url("../images/Taste-of-Racing.jpg");
    }

    .overlay-text {
      z-index: 2;
      color: $white;
      text-transform: uppercase;
      font-size: 4.5rem;
      font-weight: bold;
      letter-spacing: 0.4rem;
      text-shadow: $text-shadow;
    }


    &::after {
      content: "";
      position: absolute;
      height: 26rem;
      width: 26rem;
      background-color: rgba($medium-gray, 0.6);
      transition: background-color 1s linear;

      @include media-min($small-screen-breakpoint) {
        height: 30rem;
        width: 30rem;
      }
    }

    &:hover {  
      background-size: auto 40rem;

      &::after {
        background-color: rgba($medium-gray, 0.2);
      }
    }
  }

  .block-text {
    width: 26rem;
    text-align: center;
    font-size: 1.65rem;
    line-height: 3rem;
    color: $default-text-color;

    @include media-min($small-screen-breakpoint) {
      width: 30rem;
    }
  }
  
}

.latest-news-blocks-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem;

  @include media-min($medium-screen-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

.latest-news-block {
  @include flex-column-centered;
  @include link-overrides($default-text-color);

  padding: 2rem 1rem;
  background-color: $white;
  text-align: center;

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .date, 
  .description {
    font-size: 1.75rem;
  }

  .date {
    margin-bottom: 0.5rem;
  }

  .description {
    display: flex;
    align-items: center;
    height: 7.5rem;
  }

  .read-more {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.75rem;

    i {
      margin-left: 0.5rem;
    }
  }

  &:hover {
    .read-more {
      color: $wmmra-dark-red;

      i {
       @include bouncy-animation();
      }
    }
  }

  @include media-min($xlarge-screen-breakpoint) {
    &:nth-child(4) {
      display: none;
    }
  }
}

.all-news-link {
  @include link-overrides($white);

  display: flex;
  align-items: center;
  font-size: 2.75rem;
  color: $white;
  text-transform: uppercase;

  i {
    margin-top: -0.3rem;
    margin-left: 0.5rem;
  }

  &:hover, 
  &:visited {
    i {
      @include bouncy-animation();
     }
  }
}

.homepage-schedule-wrapper {
  width: 100%;
  max-width: 100rem;
}

.supporter-splash {
  display: grid;
  width: 100%;

  .supporter-block-wrapper {
    margin: 1rem;

    @include media-min($medium-screen-breakpoint) {
      margin: 2rem;
    }
  }

  .supporter-block {
    @include flex-column-centered;

    width: 12rem;
    height: 12rem;

    @include media-min($medium-screen-breakpoint) {
      width: 15rem;
      height: 15rem;
    }

    .supporter-placeholder {
      @include flex-column-centered;

      position: relative;
      font-size: 2rem;
      text-align: center;

      &::after {
        @include pseudo-icon("\f21c");

        position: absolute;
        font-size: 12rem;
        color: $wmmra-dark-red;
        opacity: 20%;

        @include media-min($medium-screen-breakpoint) {
          font-size: 14rem;
        }
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .supporter-placeholder-text {
        transform: scale(1.1);
      }
    }

    img {
      max-width: 12rem;
      max-height: 12rem;
  
      @include media-min($medium-screen-breakpoint) {
        max-width: 15rem;
        max-height: 15rem;
      }
    }

    &.title-supporter {
      width: 25rem;
      height: 25rem;
  
      img {
        max-width: 25rem;
        max-height: 25rem;
      }
    }
  }
}

.title-supporters-wrapper {
  @include flex-column-centered;

  margin: 0 -2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid $wmmra-dark-red;

  h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.title-supporter-ribbon { 
  @include ribbon(3rem, 2.5rem, -4rem);

  width: 70%;
  max-width: 40rem;
  margin: 0 auto 1rem;
}

.all-supporters-wrapper {
  margin: 0 auto;
}

.all-supporters-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 120rem;
  padding-top: 2rem;
}