// note: we use SUPPORTERS for allsponsor-related 
// identifiers because a lot of ad blockers flag the 
// word "sponsor" and hide the content

// all hero announcement content will start hidden
// hero.js will decide what to display
// and these fancy styles will make it slide/fade in
.hero-announcement-content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;

  &.default-content {
    gap: 3rem;

    > .hero-announcement-button {
      align-self: center;
      min-width: 30rem;
    }
  }

  &.the-chosen-one {
    transform: translateX(200%);
    animation: fadeIn 1.2s ease-in forwards, slideIn 1s ease-out forwards;

    @keyframes slideIn {
      100% {
        transform: translateX(0);
      }
    }

    @keyframes fadeIn {
      100% {
        opacity: 1;
      }
    }
  }
}

#race-countdown-clock {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  justify-content: center;

  .countdown-number-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 4rem 2.5rem;
    align-items: center;

    &:before {
      content: ":";
      position: absolute;
      top: 0;
      left: -0.4rem;
    }

    &:first-child {
      &:before {
        content: "";
      }
    }
  }

  .countdown-number {
    font-weight: 600;
  }

  .countdown-label {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.race-day-button-wrapper {
  @include flex-column-centered;

  width: 100%;
  max-width: 45rem;
  margin: 0 auto;

  @include media-min($large-screen-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .hero-announcement-button {
    width: 20rem;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-min($large-screen-breakpoint) {
      &:last-child {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.home-content-section {
  display: flex;
  justify-content: center;
  padding: 4.5rem 2rem 5.5rem;

  &.supporters {
    background-color: $wmrra-light-gray;
  }

  &.latest-news {
    background-color: $wmmra-dark-red;
    color: $white;
  }

  &.current-schedule {
    background-color: $wmrra-light-gray;
    color: $wmmra-dark-red;
  }
}

.home-content-section-wrapper {
  display: grid;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-gap: 4rem;
  justify-items: center;
  width: 100%;
  max-width: 160rem;
}

.home-content-section-header,
.current-schedule-header {
  @include header-text;

  .logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 10rem;
  }
    
  h1 {
    font-size: 6rem;
    text-transform: uppercase;

    @include media-min($small-screen-breakpoint) {
      font-size: 7rem;
    }
  }
}

.we-are-wmrra-blocks-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 0.5rem;

  @include media-min($small-screen-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @include media-max(60rem) {
    grid-gap: 4rem;
  }
}

.we-are-wmrra-block {
  display: grid;
  grid-template-rows: 26rem 1fr;
  grid-gap: 3rem;
  justify-items: center;

  @include media-min($small-screen-breakpoint) {
    grid-template-rows: 30rem 1fr;
  }

  &.support {
    grid-column: span 1;

    @include media-min(42rem) {
      grid-column: span 2;
    }

    @include media-min(60rem) {
      grid-column: span 1;
    }
  }

  .block-image {
    @include flex-column-centered;
    @include link-overrides($white);

    position: relative;
    height: 26rem;
    width: 26rem;
    background-size: auto 26rem;
    background-position: center;
    transition: background-size 3s;
    cursor: pointer;

    @include media-min($small-screen-breakpoint) {
      height: 30rem;
      width: 30rem;
      background-size: auto 30rem;
    }

    &.race {
      background-image: url("../images/wmrra-race.jpg");
    }

    &.volunteer {
      background-image: url("../images/wmrra-checkered-flag.jpg");
    }

    &.support {
      background-image: url("../images/wmrra-podium.jpg");
    }

    .overlay-text {
      z-index: 2;
      color: $white;
      text-transform: uppercase;
      font-size: 4.5rem;
      font-weight: bold;
      letter-spacing: 0.4rem;
      text-shadow: $text-shadow;
    }


    &::after {
      content: "";
      position: absolute;
      height: 26rem;
      width: 26rem;
      background-color: rgba($medium-gray, 0.6);
      transition: background-color 1s linear;

      @include media-min($small-screen-breakpoint) {
        height: 30rem;
        width: 30rem;
      }
    }

    &:hover {  
      background-size: auto 40rem;

      &::after {
        background-color: rgba($medium-gray, 0.2);
      }
    }
  }

  .block-text {
    width: 26rem;
    text-align: center;
    font-size: 1.65rem;
    line-height: 3rem;
    color: $default-text-color;

    @include media-min($small-screen-breakpoint) {
      width: 30rem;
    }
  }
  
}

.latest-news-blocks-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem;

  @include media-min($medium-screen-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

.latest-news-block {
  @include flex-column-centered;
  @include link-overrides($default-text-color);

  padding: 2rem 1rem;
  background-color: $white;
  text-align: center;

  .title {
    font-size: 3rem;
    font-weight: bold;
  }

  .date, 
  .description {
    font-size: 1.75rem;
  }

  .date {
    margin-bottom: 0.5rem;
  }

  .description {
    display: flex;
    align-items: center;
    height: 7.5rem;
  }

  .read-more {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.75rem;

    i {
      margin-left: 0.5rem;
    }
  }

  &:hover {
    .read-more {
      color: $wmmra-dark-red;

      i {
       @include bouncy-animation();
      }
    }
  }

  @include media-min($xlarge-screen-breakpoint) {
    &:nth-child(4) {
      display: none;
    }
  }
}

.all-news-link {
  @include bouncy-arrow-link($white);

  font-size: 2.75rem;
}

.homepage-schedule-wrapper {
  width: 100%;
  max-width: 100rem;
}

.homepage-supporters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  max-width: 90rem;

  .supporter-image-wrapper {
    @include flex-column-centered;
    @include supporter-placeholder-image(4rem, 1.4rem, 3.6rem);

    width: 12.5rem;
    height: 12.5rem;
    background-color: $white;
    box-shadow: 0 1rem 2rem -1rem rgba($medium-gray, 0.5);

    &:hover {
      transform: scale(1.07);
    }

    img {
      max-width: 12rem;
      max-height: 12rem;
    }
  }
}
