@mixin bouncy-animation {
  animation: easeOutBounce 1s ease-in forwards;

  @keyframes easeOutBounce {
    0% {
      transform: translateX(0%);
    }
  
    12% {
      transform: translateX(11%);
    }
  
    24% {
      transform: translateX(44%);
    }
  
    36% {
      transform: translateX(98%);
    }
  
    54% {
      transform: translateX(120%);
    }
  
    74% {
      transform: translateX(98%);
    }
  
    82% {
      transform: translateX(93%);
    }
  
    92% {
      transform: translateX(105%);
    }
  
    96% {
      transform: translateX(98%);
    }
  
    100% {
      transform: translateX(100%);
    }
  
  }
}

@mixin flex-column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin link-overrides($color, $hover: "") {
  $hover-color: $hover;

  @if str-length($hover) == 0 {
    $hover-color: $color;
  }

  color: $color;
  text-decoration: none;

  &:active,
  &:focus {
    color: $color;
    text-decoration: none;
  }

  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

@mixin pseudo-icon($icon-unicode) {
  content: $icon-unicode;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

// based on: https://css-tricks.com/snippets/css/ribbon/
@mixin ribbon($font-size, $border-size, $ribbon-position) {
  position: relative;
  padding: 1rem 2rem;
  background: $wmmra-dark-red;
  color: $white;
  font-size: $font-size;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1rem;
    border: $border-size solid $wmrra-dark-red-10;
    z-index: -1;
  }

 &::before {
    left: $ribbon-position;
    border-right-width: $border-size;
    border-left-color: transparent;
 }
 
 &::after {
    right: $ribbon-position;
    border-left-width: $border-size;
    border-right-color: transparent;
 }

 .ribbon-content {
    &::before,
    &::after  {
      content: "";
      position: absolute;
      bottom: -1rem;
      display: block;
      border-style: solid;
      border-color: $wmrra-dark-red-30 transparent transparent transparent;
    }

    &::before {
      left: 0;
      border-width: 1rem 0 0 1rem;
    }

    &::after {
      right: 0;
      border-width: 1rem 1rem 0 0;
    }
  } 
}

@mixin sponsor-level-badge($icon-unicode, $level-color) {
  @include pseudo-icon($icon-unicode);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  border-width: 0.8rem;
  border-style: solid;
  border-radius: 50%;
  border-color: $level-color;
  background-color: $white;
  font-size: 3rem;
  color: $level-color;
}

@mixin header-text { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include media-max($mobile-breakpoint) {
    flex-direction: column;
  }
}

@mixin placeholder-text {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $wmrra-light-gray;
    font-size: 1.4rem;
    font-style: italic;
  }
  
  &::-moz-placeholder { /* Firefox 19+ */
    color: $wmrra-light-gray;
    font-size: 1.4rem;
    font-style: italic;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $wmrra-light-gray;
    font-size: 1.4rem;
    font-style: italic;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $wmrra-light-gray;
    font-size: 1.4rem;
    font-style: italic;
  }
}

@mixin bouncy-arrow-link($color) {
  @include link-overrides($color);

  display: flex;
  justify-content: center;
  align-items: center;
  color: $color;
  text-transform: uppercase;

  i {
    margin-top: -0.3rem;
    margin-left: 0.5rem;
  }

  &:hover, 
  &:visited {
    i {
      @include bouncy-animation();
     }
  }
}

@mixin sliding-drawers($max-content-height) {


  .sliding-drawer {
    &.is-open {
      .sliding-drawer-indicator {
        &.closed {
          display: none;
        }

        &.open {
          display: block;
        }
      }

      .sliding-drawer-content {
        max-height: $max-content-height;
      }
    }
  }

  .sliding-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 1rem 3rem;
  
    background-color: $wmmra-dark-red;
    color: $white;

    cursor: pointer;

    .sliding-drawer-indicator {
      margin-left: 1rem;

      &.open {
        display: none;
      }

      &.closed {
        display: block;
      }
    }
  }

  .sliding-drawer-content {
    max-height: 0;

    overflow: hidden;
    transition: max-height 500ms ease-in-out;

    .sliding-drawer-content-inner {
      padding: 1.5rem 3rem;

      border: 0.1rem solid $medium-gray;
      border-top: 0;
    }
  }
}