// TODO: condense + comment this functionality
@mixin offset-rows($row-count, $margin-val) {
  $i: 1;

  @while $i <= $row-count {
    &:nth-child(#{$row-count}n + #{$i}) {
      margin-top: #{$margin-val}rem;
    }

    $i: $i + 2;
  }
}

@mixin max-grid-width($row-count) {
  max-width: #{$row-count * 114}px;
}

.racers-outer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.racers-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include media-min(789px) {
    @include max-grid-width(6);
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 55px;
    padding-top: 60px;
  }

  @include media-min(898px) {
    @include max-grid-width(7);
  }

  @include media-min(1014px) {
    @include max-grid-width(8);
  }

}

.racer-cell-label {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 21rem;
  margin-top: 0.5rem;
  font-size: 2.2rem;

  @include media-min(789px) {
    display: none;
  }
}

.racer-cell {
  position: relative;
  width: 120px;
  height: 150px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 75px solid transparent;
    border-top: 75px solid transparent;
  }

  &::before {
    left: -35px;
    border-right: 35px solid transparent;
  }

  &::after {
    left: 120px;
    border-left: 35px solid transparent;
  }

  @include media-min(789px) {
    left: -30px;
    width: 80px;
    height: 110px;
    margin-left: 16px;
    margin-right: 8px;
    
    &::before,
    &::after {
      border-bottom: 55px solid transparent;
      border-top: 55px solid transparent;
    }
  
    &::before {
      left: -30px;
      border-right: 30px solid transparent;
    }
  
    &::after {
      left: 80px;
      border-left: 30px solid transparent;
    }
  }

  &.flipper-container {
    perspective: 1000px;

    @include media-max(789px) {
      margin: 0 4.5rem 7rem;
    }

    @include media-min(789px) {
      @include offset-rows(6, -5.5);
      
      width: 90px;

      &:hover {
        .flipper {
          transform: rotateY(180deg);
        }
      }
    }

    @include media-min(898px) {
      @include offset-rows(6, 0);
      @include offset-rows(7, -5.5);
    }

    @include media-min(1014px) {
      @include offset-rows(7, 0);
      @include offset-rows(8, -5.5);
    }
  }

  &.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    &::before,
    &::after {
      border: none;
    }
  }


  &.content {
    @include flex-column-centered;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2.5px solid $white;
    border-bottom: 2.5px solid $white;
    text-align: center;

    &::before,
    &::after {
      border-bottom: 72.5px solid transparent;
      border-top: 72.5px solid transparent;
    }

    @include media-min(789px) {
      &::before,
      &::after {
        border-top: 52.5px solid transparent;
        border-bottom: 52.5px solid transparent;
      }
    }
  }

  &.front,
  &.back {
    backface-visibility: hidden;

    &.retired {
      .racer-number {
        &::before {
          @include pseudo-icon("\f11e");
          position: absolute;
          top: 54%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.45;
          color: $white;
          font-size: 8.5rem;
          text-shadow: none;
        }

        @include media-max(789px) {
          &::before {
            top: 52%;
            font-size: 12rem;
          }
        }
      }
    }
  }

  &.front {
    z-index: 2;
    background-color: $wmrra-light-gray;

    &::before {
      border-right-color: $wmrra-light-gray;
    }

    &::after {
      border-left-color: $wmrra-light-gray;
    }

    .racer-number {
      font-size: 6.45rem;
      color: $wmmra-dark-red;

      .digits {
        position: relative;
        z-index: 2;
      }

      @include media-min(789px) {
        font-size: 3.8rem;
      }
    }

    img {
      z-index: 3;
      width: 190px;
      height: 165px;
      clip-path: polygon(19% 5%, 81% 5%, 100% 50%, 81% 95%, 19% 95%, 0% 50%);

      @include media-min(789px) {
        width: 140px;
        height: 118px;
        clip-path: polygon(21% 5%, 79% 5%, 100% 50%, 79% 95%, 21% 95%, 0% 50%);
      }
    }
  }

  &.back {
    background-color: $wmmra-dark-red;
    transform: rotateY(180deg);

    &::before {
      border-right-color: $wmmra-dark-red;
    }

    &::after {
      border-left-color: $wmmra-dark-red;
    }

    .racer-name,
    .racer-number {
      color: $white;
    }

    .racer-number {
      font-size: 10rem;

      @include media-min(789px) {
        font-size: 2.8rem;
      }
    }

    .racer-name {
      @include media-max(789px) {
        display: none;
      }
    }

    .retired-name {
      font-style: italic;
    }

    @include media-min(789px) {
      left: -32px;
    }
  }

  .racer-number {
    font-family: "Righteous";
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1rem;
  }
}

// header + racer search
.racer-grid-header {
  max-width: 91.2rem;
  margin: 0 auto;
}

.racer-search-wrapper {
  @include flex-column-centered;

  position: relative;
  margin-bottom: 2rem;

  &::before {
    @include pseudo-icon("\f002");

    position: absolute;
    top: 0.5rem;
    left: 1rem;
    color: $wmrra-light-gray;
  }

  .retired-number-blurb {
    font-style: italic;
    font-size: 1.4rem;
    color: $light-default-text-color;

    i {
      margin-right: 0.2rem;
      font-style: italic;
    }
  }

  input {
    @include placeholder-text;

    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.4rem 0.4rem 3.3rem;
    border: 1px solid  $wmrra-light-gray;
    border-radius: 5px;
  }
}
