// TODO: condense + comment this functionality
@mixin offset-rows($row-count, $margin-val) {
  $i: 1;

  @while $i <= $row-count {
    &:nth-child(#{$row-count}n + #{$i}) {
      margin-top: #{$margin-val}rem;
    }

    $i: $i + 2;
  }
}

.racers-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 60px;

  @include media-min(789px) {
    flex-flow: row wrap;
    align-items: flex-start;
    padding-left: 75px;
  }
}

.racer-cell-label {
  margin-top: 0.5rem;
  font-size: 2.4rem;

  @include media-min(789px) {
    display: none;
  }
}

.racer-cell {
  position: relative;
  width: 200px;
  height: 260px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 130px solid transparent;
    border-top: 130px solid transparent;
  }

  &::before {
    left: -60px;
    border-right: 60px solid transparent;
  }

  &::after {
    left: 200px;
    border-left: 60px solid transparent;
  }

  @include media-min(789px) {
    left: -30px;
    width: 80px;
    height: 110px;
    margin-left: 16px;
    margin-right: 18px;
    
    &::before,
    &::after {
      border-bottom: 55px solid transparent;
      border-top: 55px solid transparent;
    }
  
    &::before {
      left: -30px;
      border-right: 30px solid transparent;
    }
  
    &::after {
      left: 80px;
      border-left: 30px solid transparent;
    }
  }

  &.flipper-container {
    perspective: 1000px;
    margin-bottom: 8rem;

    @include media-min(789px) {
      &:hover {
        .flipper {
          transform: rotateY(180deg);
        }
      }
    }

    @include media-min(789px) {
      margin-bottom: 0;
      @include offset-rows(6, -5.5);
    }

    @include media-min(903px) {
      @include offset-rows(6, 0);
      @include offset-rows(7, -5.5);
    }

    @include media-min(1017px) {
      @include offset-rows(7, 0);
      @include offset-rows(8, -5.5);
    }
  }

  &.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  }


  &.content {
    @include flex-column-centered;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2.5px solid $white;
    border-bottom: 2.5px solid $white;
    text-align: center;

    &::before,
    &::after {
      border-bottom: 127.5px solid transparent;
      border-top: 127.5px solid transparent;
    }

    @include media-min(789px) {
      &::before,
      &::after {
        border-top: 52.5px solid transparent;
        border-bottom: 52.5px solid transparent;
      }
    }
  }

  &.front,
  &.back {
    backface-visibility: hidden;
  }

  &.front {
    z-index: 2;
    background-color: $wmrra-light-gray;

    &::before {
      border-right-color: $wmrra-light-gray;
    }

    &::after {
      border-left-color: $wmrra-light-gray;
    }

    .racer-number {
      font-size: 10rem;
      color: $wmmra-dark-red;

      @include media-min(789px) {
        font-size: 3.8rem;
      }
    }

    img {
      z-index: 3;
      width: 320px;
      height: 284px;
      clip-path: polygon(19% 5%, 81% 5%, 100% 50%, 81% 95%, 19% 95%, 0% 50%);

      @include media-min(789px) {
        width: 140px;
        height: 118px;
        clip-path: polygon(21% 5%, 79% 5%, 100% 50%, 79% 95%, 21% 95%, 0% 50%);
      }
    }
  }

  &.back {
    background-color: $wmmra-dark-red;
    transform: rotateY(180deg);

    &::before {
      border-right-color: $wmmra-dark-red;
    }

    &::after {
      border-left-color: $wmmra-dark-red;
    }

    .racer-name,
    .racer-number {
      color: $white;
    }

    .racer-number {
      font-size: 10rem;

      @include media-min(789px) {
        font-size: 2.8rem;
      }
    }

    .racer-name {
      @include media-max(789px) {
        display: none;
      }
    }

    @include media-min(789px) {
      left: -32px;
    }
  }

  .racer-number {
    //font-family: "Knewave";
    font-family: "Righteous";
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1rem;
  }
}