.race-registration-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;

  .site-button {
    padding: 1.6rem;
  }

  p {
    margin: 0;
  }
}

.race-registration-faq {
  @include faq(120rem);
}