.table-wrapper { // At wide widths, use two columns of tables
  @include media-max($medium-screen-breakpoint) {
    grid-template-columns: 1fr;
    grid-gap: 0rem;

  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.racer-table {
  color: $default-text-color;
  font-size: 1.6rem;
}

.racer-table-row {
  display: grid;
  grid-template-columns: 8rem minmax(15rem, 1fr) minmax(15rem, 1fr) 7rem;
  background-color: $white;

  &.table-header {
    background-color: $wmmra-dark-red;
    color: $white;

    &.second-header {
      @include media-max($medium-screen-breakpoint) {
        display: none;
      }
    }
  }

  &:not(.table-header) {
    &:nth-child(odd) {
      background-color: $alternate-row-gray;
    }
  }
}

.racer-table-cell {
  display: flex;
  align-items: center;
  padding: 1rem;


  &.red {
    background-color: $wmmra-dark-red;
    color: $white;
  }

  &.center {
    justify-content: center;
  }
}
