.rulebook-content {
  .page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h3 {
      margin: 0;
      text-align: center;
    }
  }

  .rulebook-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    max-width: 70%;

    @include media-max($mobile-breakpoint) {
      flex-direction: column;
    }

    .site-button {
      padding: 1rem 2rem;
    }
  }
}