.schedule-table {
  width: max-content;
  border: 1px solid $wmmra-dark-red;
  color: $default-text-color;
  font-size: 1.6rem;

  @include media-max($mobile-breakpoint) {
    display: grid;
    grid-gap: 2rem;
    border: none;
  }
}

.schedule-table-row {
  background-color: $white;

  @include media-min($mobile-breakpoint) {
    display: grid;
    grid-template-columns: 10rem 14rem 26rem 14rem minmax(0, auto);

    &:not(.footer) {
      &:nth-child(odd) {
        background-color: $alternate-row-gray;
      }
    }
  }

  &.footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: $wmmra-dark-red;
    color: $white;

    @include media-max($mobile-breakpoint) {
      justify-content: center;
      padding: 1rem;
    }
  }
}

.schedule-table-cell {
  display: flex;
  align-items: center;
  padding: 1rem;

  &.round {
    display: flex;
    gap: 0.6rem;
    background-color: $wmmra-dark-red;
    color: $white;
    line-height: 1.6rem;
  }

  &.event-schedule {
    justify-content: center;
    gap: 1.2rem;

    .site-button {
      width: 4rem;
      font-size: 1.6rem;
    }

    @include media-max($mobile-breakpoint) {
      flex-direction: column;
      
      .site-button {
        width: 100%;
      }
    }
  }

  &.date,
  &.location,
  &.event-schedule {
    @include media-min($medium-screen-breakpoint) {
      padding: 1rem 1.5rem;
    }
  }

  &.logos {
    display: flex;
    gap: 1rem;
  }

  .schedule-double-points-icon {
    margin-top: -0.2rem;
  }

  .schedule-logo {
    &.wmrra {
      max-width: 8rem;
    }

    &.omrra {
      max-width: 3.5rem;
    }
  }

  @include media-max($mobile-breakpoint) {
    justify-content: center;
  }
}