.volunteer-page-content {
  h1,
  h2 {
    margin: 0 0 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    margin: 0 0 1rem;
    font-size: 4rem;
  }

  p {
    margin: 0;

    + p {
      margin-top: 1rem;
    }
  }
}

.volunteer-page-header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 38rem;
  overflow: hidden;

  img {
    max-width: 100rem;
  }
}

.volunteer-page-section {
  padding: 3rem 0;

  &:not(:last-child) {
    border-bottom: 0.3rem solid $wmmra-dark-red;
  }

  &.volunteer-blocks {
    p {
      text-align: center;
    }
  }

  &.corner-working {
    h2 {
      margin-bottom: 3rem;
    }
  }
}

.volunteer-block-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2rem;
  margin-top: 2.5rem;
}

.volunteer-opportunity-block {
  @include link-overrides($default-text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 15rem;
  padding: 1.5rem;

  background-color: $wmrra-light-gray;

  &:hover {
    @include link-overrides($white);
    background-color: $wmmra-dark-red;
    color: $white;

    .volunteer-icon {
      display: none;
    }

    .volunteer-description {
      display: block;
    }
  }

  .volunteer-icon {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: $wmmra-dark-red;
  }

  .volunteer-text {
    font-size: 2rem;
  }

  .volunteer-description {
    display: none;

    margin: 1rem 2rem 0;
    font-size: 1.4rem;
    text-align: center;
  }
}

.corner-working-benefits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-gap: 5rem;

  margin: 0;
  padding: 0;

  list-style: none;

  li {
    display: flex;

    margin: 0;
    padding: 0;

    h3 {
      margin: 0 0 1rem;
    }

    i {
      margin-right: 2rem;
      
      color: $wmmra-dark-red;
      font-size: 2.8rem;
    }
  }

  @include media-min($small-screen-breakpoint) {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
}

.corner-worker-sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  .site-button {
    @include bouncy-arrow-link($white);

    width: 20rem;
    padding: 1rem 0;

    font-size: 2rem;
    text-transform: none;
  }
}

.corner-worker-faq {
  @include sliding-drawers(120rem);

  .corner-worker-faq-entry {
    margin-bottom: 2rem;
  }

  .faq-entry-question {
    font-size: 2rem;
  }

  .faq-entry-answer {
    ul {
      margin-top: 1rem;
      line-height: 3rem;
    }
  }
}