name: Deploy to Staging

on:
  label:
    types: [created]

jobs:
  deploy:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'stage') }}
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy to Firebase
        shell: bash
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run:  |
              hugo
              npx firebase-tools deploy --token $FIREBASE_TOKEN  --project wmrra-staging
  
  # comment now that the PR is staged
  comment:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'stage') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Staged at https://wmrra-staging.web.app'
            })

  # Remove label added by user
  remove-label:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'stage') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.removeLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['stage']
            })