name: Deploy to Staging

on:
  pull_request:
    types: [labeled]

jobs:
  # deploy to staging
  deploy:
    name: "Deploy PR to Staging"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'stage') }}
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy to Firebase
        shell: bash
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        id: firebase-deploy
        run:  |
              hugo --config config.staging.yml
              # npx firebase-tools deploy --token $FIREBASE_TOKEN  --project wmrra-staging
              CHANNEL_ID="staging"
              npx firebase-tools hosting:channel:deploy $CHANNEL_ID --token $FIREBASE_TOKEN  --project wmrra-staging
              output="$(npx firebase-tools firebase hosting:channel:list --token $FIREBASE_TOKEN  --project wmrra-staging)"
              echo '::set-output name=STAGING_URL::output'
      - name: "Comment that PR is staged"
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Staged: ${{ steps.firebase-deploy.outputs.STAGING_URL }}'

            })

      - name: "Remove stage label"
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: 'stage'
            })